.badge {
  position: absolute;
  display: flex;
  width: scaleVW(85, 1920);
  height: scaleVW(85, 1920);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/badge.svg) no-repeat center;
  background-size: contain;
  transform: translate(-50%, -30px);

  @include media-breakpoint-down(xl) {
    width: 70px;
    height: 70px;
  }

  @include media-breakpoint-down(md) {
    transform: translate(-10px, -10px);
  }

  @include media-breakpoint-down(sm) {
    width: 50px;
    height: 50px;
  }

  &__header {
    font-size: scaleVW(10, 1920);
    line-height: 1.2;
    text-transform: uppercase;
    text-shadow: .2px .2px #fef05d;
    color: #b36100;

    @include media-breakpoint-down(xl) {
      font-size: 8px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 7px;
    }
  }

  &__number {
    font-size: scaleVW(20, 1920);
    line-height: 1.2;
    color: #b36100;

    @include media-breakpoint-down(xl) {
      font-size: 16px;
      line-height: 1;
    }

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  &__comment {
    font-size: scaleVW(6.28, 1920);
    line-height: scaleVW(7, 1920);
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: .125527px .125527px #fef05d;
    color: #b36100;

    @include media-breakpoint-down(xl) {
      font-size: 6px;
      line-height: 7px;
    }
  }
}
