.presentation {
  margin: 60px 0;

  &__content {
  }

  &__slide {
  }

  &__controls {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__arrows-wrapper {
    display: flex;
    align-items: center;
  }

  &__arrow {
    width: 50px;
    height: 50px;
    background: $primary url(../img/presentation-arrow-right.svg) no-repeat center;
    border-radius: 50%;

    @include media-breakpoint-down(lg) {
      width: 40px;
      height: 40px;
      background-size: auto 50%;
    }

    &--left {
      transform: rotate(180deg);
    }

    &--right {
    }
  }

  &__counter {
    margin: 0 10px;
    min-width: 60px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
  }

  &__scale {
    margin-left: 25px;
    display: flex;
    align-items: center;
  }

  &__scale-btn {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;

    @include media-breakpoint-down(xl) {
      width: 40px;
      height: 40px;
    }

    & + & {
      margin-left: 15px;
    }

    &--minus {
      background: url(../img/minus.svg) no-repeat center;
    }

    &--plus {
      background: url(../img/plus.svg) no-repeat center;
    }
  }
}
