mixin presentation(data)
  .presentation&attributes(attributes)
    .presentation__content
      img.presentation__slide(src="./img/presentation-1.png", alt)
    .presentation__controls
      .presentation__arrows-wrapper
        a.presentation__arrow.presentation__arrow--left(href="#")
        .presentation__counter
          span 1 
          | из 
          span 15
        a.presentation__arrow.presentation__arrow--right(href="#")
      .presentation__scale
        a.presentation__scale-btn.presentation__scale-btn--minus(href="#") 
        a.presentation__scale-btn.presentation__scale-btn--plus(href="#") 