h1,
.h1 {
  font-family: $font-family-serif;
  font-size: scaleVW(70, 1920);
  line-height: .825;
  font-weight: 300;
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    font-size: 40px;
  }
}

h2,
.h2 {
  font-family: $font-family-serif;
  font-size: scaleVW(65, 1920);
  line-height: .825;
  font-weight: 300;
  text-transform: uppercase;

  @include media-breakpoint-down(xl) {
    font-size: 36px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 32px;
  }

  &.md {
    font-size: scaleVW(50, 1920);
    line-height: .825;

    @include media-breakpoint-down(xl) {
      font-size: 40px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 30px;
    }
  }

  &.mob-sm {

    @include media-breakpoint-down(sm) {
      font-size: 24px;
      line-height: 1;
    }
  }
}

h3,
.h3 {
  font-family: $font-family-serif;
  font-size: scaleVW(45, 1920);
  line-height: 1;
  font-weight: 300;
  text-transform: uppercase;

  @include media-breakpoint-down(xl) {
    font-size: 36px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }

  &.md {
    font-size: scaleVW(42, 1920);
    line-height: .825;

    @include media-breakpoint-down(xl) {
      font-size: 34px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 28px;
    }
  }
}

h4,
.h4 {
  font-family: $font-family-serif;
  font-size: scaleVW(32, 1920);
  line-height: .825;
  font-weight: 300;
  text-transform: uppercase;

  @include media-breakpoint-down(xl) {
    font-size: 28px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 26px;
  }
}

h5,
.h5 {
  font-family: $font-family-serif;
  font-size: scaleVW(28, 1920);
  line-height: 1.32;
  font-weight: 300;
  text-transform: uppercase;

  @include media-breakpoint-down(xl) {
    font-size: 24px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 22px;
  }
}

h6,
.h6 {
  font-family: $font-family-serif;
  font-size: scaleVW(24, 1920);
  line-height: 1.17;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;

  @include media-breakpoint-down(xl) {
    font-size: 20px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 18px;
  }
}

p,
.p {
  margin-bottom: scaleVW(23, 1920);
  font-family: $font-family-sans-serif;
  font-size: scaleVW(20, 1920);
  line-height: 1.15;

  @include media-breakpoint-down(xl) {
    margin-bottom: 20px;
    font-size: 18px;
  }

  @include media-breakpoint-down(md) {
    font-size: 16px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 14px;
  }

  &.st {
    font-size: 20px;

    @include media-breakpoint-down(xl) {
      margin-bottom: 20px;
      font-size: 18px;
    }

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }

  &.xl {
    font-size: scaleVW(28, 1920);
    line-height: 1.32;
    text-transform: uppercase;

    @include media-breakpoint-down(xl) {
      font-size: 24px;
    }

    @include media-breakpoint-down(md) {
      font-size: 20px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }

    &.xl-st {
      font-size: 28px;

      @include media-breakpoint-down(xl) {
        font-size: 24px;
      }

      @include media-breakpoint-down(md) {
        font-size: 20px;
      }
    }
  }

  &.lg {
    font-size: scaleVW(24, 1920);
    line-height: 1.3;

    @include media-breakpoint-down(xl) {
      font-size: 20px;
    }

    @include media-breakpoint-down(md) {
      font-size: 18px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }

  &.sm {
    font-size: scaleVW(16, 1920);
    line-height: 1.19;

    @include media-breakpoint-down(xl) {
      font-size: 14px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 12px;
    }

    &.sm-st {
      font-size: 16px;

      @include media-breakpoint-down(xl) {
        font-size: 14px;
      }

      @include media-breakpoint-down(sm) {
        font-size: 12px;
      }
    }
  }

  &.sm-new {
    font-size: 14px;
  }

  &.xs {
    font-size: 11px;
    line-height: 13px;
  }

  &.lh-md {
    line-height: 1.5;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-black {
  font-weight: 900;
}

.text-transform-none {
  text-transform: none !important;
}

.text-serif {
  font-family: $font-family-serif;
}

.text-link {
  display: block;
  text-decoration: none;
  color: $dark;

  @include transition;
}

.link {
  font-size: 20px;
  line-height: 1.15;
  color: $primary;

  &--bar {
    padding: 32px;
    width: 100%;
    justify-content: center;
    text-align: center;
    background: #202020;
    border-radius: 4px;
  }
}

.transparent {
  opacity: .5;
}

ul {
  padding-left: 0;
  list-style: none;
  font-family: $font-family-sans-serif;
  font-size: scaleVW(20, 1920);
  line-height: 1.15;

  @include media-breakpoint-down(xl) {
    font-size: 18px;
  }

  @include media-breakpoint-down(md) {
    font-size: 16px;
  }

  li {
    position: relative;
    margin-bottom: 16px;
    padding-left: scaleVW(33, 1920);

    @include media-breakpoint-down(xl) {
      padding-left: 20px;
    }

    &:before {
      position: absolute;
      top: 6px;
      left: 0;
      display: block;
      width: 8px;
      height: 8px;
      content: '';
      background: $primary;
      border-radius: 50%;

      @include media-breakpoint-down(xl) {
        top: 5px;
      }
    }
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
