.speaker-page {
  margin-bottom: 50px;
  display: flex;
  align-items: flex-start;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__picture {
    position: relative;
    margin-right: 32px;
    padding-top: 35.77%;
    width: 35.77%;
    flex-shrink: 0;

    @include media-breakpoint-down(md) {
      margin-right: 0;
      margin-bottom: 30px;
      padding-top: 0;
      width: 300px;
      height: 300px;
    }
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__info {
  }
}
