.slider {

  &__header {
    margin-bottom: scaleVW(120, 1920);
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xl) {
      margin-bottom: 30px;
    }
  }

  &__controls {
    display: flex;
    align-items: center;

    .slick-dots {

      @include media-breakpoint-down(md) {
        margin-top: 0;
      }

      @include media-breakpoint-down(sm) {
        padding-left: 0;
      }
    }
  }

  &__arrow {
    display: block;
    width: scaleVW(32, 1920);
    height: scaleVW(32, 1920);

    @include transition;

    @include media-breakpoint-down(xl) {
      width: 32px;
      height: 32px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &:hover {
      opacity: .7;
    }

    & + & {
      margin-left: scaleVW(32, 1920);
    }

    &--prev {
      background: url(../img/arrow-prev.svg) no-repeat center;
      background-size: contain;
    }

    &--next {
      background: url(../img/arrow-next.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__frontmans-header {
    margin-bottom: 0;
  }

  &__content {

    &--items {
      margin-left: scaleVW(-16, 1920);
      width: calc(100% + 32px);

      @include media-breakpoint-down(md) {
        margin-left: 0;
        width: 100%;
      }

      .slick-track {
        display: flex !important;
      }
    }

    &--frontmans {
      margin-bottom: scaleVW(35, 1920);
      margin-left: scaleVW(-80, 1920);
      padding-top: 280px;
      width: calc(100% + 80px);

      &:before {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background: radial-gradient(
          ellipse at right bottom,
          rgba(#000, 1) 0%,
          rgba(#000, .5) 50%,
          rgba(#000, .1) 75%,
          rgba(#000, 0) 100%
        );

        @include media-breakpoint-down(md) {
          display: none;
          height: 100%;
        }
      }

      @include media-breakpoint-down(xl) {
        margin-bottom: 30px;
        margin-left: 0;
        width: 100%;
      }

      @include media-breakpoint-down(md) {
        padding-top: 60px;
      }

      @include media-breakpoint-down(sm) {
        margin-left: 0;
      }

      .slick-list {
        overflow: visible;
      }

      .slick-track {
        display: flex !important;
        align-items: flex-end;
      }

      .slick-slide {
        padding-bottom: scaleVW(20, 1920);

        .frontman {
          opacity: 0;
          pointer-events: none;
          transform-origin: bottom center;
        }

        .frontman__content {
          display: none;
        }

        &.slick-current {

          .frontman {
            opacity: 1;
            pointer-events: all;
            transform: translate(105px) scale(1.6);

            @include media-breakpoint-down(md) {
              transform: none !important;
            }
          }

          .frontman__picture {
            position: relative;

            &:before {
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 100%;
              height: 100%;
              content: '';
              background: radial-gradient(
                ellipse at center bottom,
                rgba(#000, 1) 0%,
                rgba(#000, .1) 50%,
                rgba(#000, 0) 75%,
                rgba(#000, 0) 100%
              );
            }
          }

          .frontman__content {
            position: absolute;
            z-index: 2;
            bottom: 0;
            display: block;

            @include media-breakpoint-down(md) {
              right: 0;
            }
          }

          & + .slick-slide {

            .frontman {
              opacity: 1;
              pointer-events: all;
              transform: translate(115px) scale(1.3);
            }

            @include media-breakpoint-down(sm) {
              transform: none;
            }

            & + .slick-slide {

              .frontman {
                opacity: 1;
                pointer-events: all;
                transform: translate(75px) scale(1.17);
              }

              @include media-breakpoint-down(sm) {
                transform: none;
              }

              & + .slick-slide {

                .frontman {
                  opacity: 1;
                  pointer-events: all;
                  transform: translate(20px);
                }

                @include media-breakpoint-down(sm) {
                  transform: none;
                }
              }
            }
          }
        }
      }
    }

    &--histories {
      margin-left: scaleVW(-16, 1920);
      width: calc(100% + 16px);

      @include media-breakpoint-down(md) {
        margin-left: 0;
        width: 100%;
      }

      .slick-track {
        display: flex !important;
      }
    }
  }

  &__item {
    margin: 0 scaleVW(16, 1920);
    height: auto;
  }

  &__history {
    margin: 0 scaleVW(16, 1920);
    height: auto;
  }

  &__dots {
    margin-right: scaleVW(32, 1920);
    margin-left: scaleVW(32, 1920);

    @include media-breakpoint-down(md) {
      margin-right: 16px;
      margin-left: 16px;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }

  &--frontmans {
    margin: scaleVW(160, 1920) scaleVW(-64, 1920) scaleVW(200, 1920) 0;

    @include media-breakpoint-down(xl) {
      margin: 80px -16px 80px 0;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }
  }

  &--communication {
    margin-bottom: scaleVW(75, 1920);

    @include media-breakpoint-down(xl) {
      margin-bottom: 50px;
    }
  }
}
