.type {
  padding: scaleVW(40, 1920) scaleVW(57, 1920) scaleVW(50, 1920);
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  background: #202020;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  border-radius: 4px;

  @include transition;

  @include media-breakpoint-down(xl) {
    padding: 30px;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }

  &:hover {
    opacity: .8;
  }

  &__content {
    max-width: 200px;
  }
}
