mixin type(data)
  a.type(href="#", style="background-image: url(./img/" + data.bg + ");")&attributes(attributes)
    .type__content
      p.lg.mb-0
        span.text-secondary.d-block.fw-bold= data.type
        span= data.title
