.history {
  display: block;
  text-decoration: none;

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
    min-height: 240px !important;
  }

  &__top {
    padding: scaleVW(35, 1920) scaleVW(30, 1920);
    display: flex !important;
    width: 100%;
    min-height: scaleVW(325, 1920);
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
    background-position: top center;
    background-size: cover;

    @include transition;

    @include media-breakpoint-down(sm) {
      padding: 10px;
      min-height: 240px;
    }

    &:hover {
      opacity: .9;
      color: #fff;
    }
  }

  &__logo {
    margin-bottom: scaleVW(20, 1920);

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__logo-img {
  }

  &__content {
    margin-top: 30px;

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
    }
  }

  &--reverse {

    .history__top {
      flex-direction: column-reverse;
      justify-content: flex-end;
    }
  }

  &--gradient {
    margin: 0 16px;
    width: 100%;
    max-width: 424px;
    flex-shrink: 0;

    @include media-breakpoint-down(xxl) {
      max-width: 320px;
    }

    @include media-breakpoint-down(sm) {
      width: 260px;
    }
  }
}
