mixin history(data)
  a.history(href="#")&attributes(attributes)
    .history__top(style="background-image: url(./img/" + data.picture + ");")
      .history__logo
        img.history__logo-img(src="./img/" + data.logo, alt)
      p.fw-bold.mb-20= data.title
    if data && data.type == 'news'
      .history__content
        p.sm.text-white.mb-20 26 октября
        p.text-secondary.mb-0 Форум «Открытые инновации» в 2020 году был посвящен тому, как коронавирус повлиял на развитие технологий.
      

