.about {
  position: relative;
  padding-top: scaleVW(45, 1920);

  @include media-breakpoint-down(xl) {
    padding-top: 30px;
  }

  &:before {
    position: absolute;
    top: -40px;
    right: 0;
    display: block;
    width: scaleVW(488, 1920);
    height: scaleVW(630, 1920);
    content: '';
    background: url(../img/about-1.png) no-repeat center;
    background-size: contain;
  }

  &:after {
    position: absolute;
    z-index: 3;
    right: 0;
    bottom: scaleVW(-440, 1920);
    display: block;
    width: scaleVW(583, 1920);
    height: scaleVW(728, 1920);
    content: '';
    background: url(../img/about-2.png) no-repeat center;
    background-size: contain;
  }

  &__header {
  }

  &__title {
    margin-bottom: scaleVW(35, 1920);
    font-family: $font-family-serif;
    font-size: scaleVW(110, 1920);
    line-height: .825;

    @include media-breakpoint-down(xl) {
      margin-bottom: 30px;
      font-size: 60px;
    }
  }

  &__title-top {
  }

  &__title-bottom {
    padding-left: scaleVW(135, 1920);
  }

  &__subheader {
    padding-left: scaleVW(160, 1920);
  }
}
