mixin news(data)
  a.news(href="#")&attributes(attributes)
    .news__picture
      img.news__picture-img(src="./img/" + data.picture, alt)
    .news__content
      .news__date 26 октября
      p.lg.text-white.mb-0= data.title
