.news {
  margin-bottom: scaleVW(96, 1920);
  display: block;
  max-width: 420px;
  text-decoration: none;

  &:hover {

    .news__picture-img {
      transform: scale(1.05);
    }
  }

  @include media-breakpoint-down(xl) {
    margin-bottom: 40px;
  }

  &__picture {
    position: relative;
    margin-bottom: 54px;
    padding-top: 76.67%;
    overflow: hidden;

    @include media-breakpoint-down(xl) {
      margin-bottom: 20px;
    }
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;

    @include transition;
  }

  &__content {
  }

  &__date {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
  }
}
