mixin message(data)
  a.message(href="#")&attributes(attributes)
    .message__wrapper
      .message__content
        if data && data.response
          .message__response
            .message__response-author Вячеслав Чморшанский
            .message__response-content обеспечивает более или менее стандартное заполнение шаблона,  
        .message__text= data.content
      .message__info= data.info
