.message {
  margin-bottom: 17px;
  display: flex;
  align-items: flex-end;
  text-decoration: none;

  &__picture {
    position: relative;
    margin-right: 8px;
    margin-bottom: 27px;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 5px;
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: top center;
  }

  &__wrapper {
  }

  &__content {
    position: relative;
    margin-bottom: 10px;
    padding: 12px;
    max-width: 280px;
    text-align: left;
    border-radius: 4px;
  }

  &__text {
    font-size: 13px;
    line-height: 1.5;
  }

  &__info {
    padding: 0 12px;
    font-size: 11px;
    line-height: 1.2;
    color: #fff;
  }

  &__response {
    margin-bottom: 16px;
    padding-left: 10px;
    border-left: 2px solid $primary;
  }

  &__response-author {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
    color: $primary;
  }

  &__response-content {
    font-size: 14px;
    line-height: 16px;
    color: #fff;
  }

  &--user {
    text-align: right;
    align-self: flex-end;

    .message__content {
      color: #fff;
      background: #000;

      &:after {
        position: absolute;
        top: calc(100% - 2px);
        right: 0;
        display: block;
        width: 0;
        height: 0;
        content: '';
        border-width: 0 10px 10px 0;
        border-style: solid;
        border-color: transparent #000 transparent transparent;
      }
    }
  }

  &--opponent {
    align-self: flex-start;

    .message__content {
      color: #1b1b1b;
      background: $primary;

      &:after {
        position: absolute;
        top: calc(100% - 2px);
        left: 0;
        display: block;
        width: 0;
        height: 0;
        content: '';
        border-width: 10px 10px 0 0;
        border-style: solid;
        border-color: $primary transparent transparent;
      }
    }
  }
}
