/* Bootstrap */

.container-fluid {
  padding-right: scaleVW(64, 1920);
  padding-left: scaleVW(64, 1920);

  @include media-breakpoint-down(xl) {
    padding-right: 16px;
    padding-left: 16px;
  }

  @include media-breakpoint-down(sm) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.btn {
  padding: scaleVW(15.5, 1920) scaleVW(32, 1920);
  font-size: scaleVW(14, 1920);
  line-height: 1.14;
  color: #000;

  @include media-breakpoint-down(xl) {
    padding: 10px;
    font-size: 14px;
  }

  &.btn-primary {
    background: $primary;

    &:hover {
      background: rgba($primary, .9);
    }
  }

  &.btn-outline-primary {
    color: $primary;

    &:hover {
      color: #000;
    }
  }

  &.btn-secondary {
  }

  &.btn-outline-secondary {
    color: $secondary;

    &:hover {
      color: #fff;
    }
  }

  &.btn-danger {
    color: #fff;
  }

  &.btn-lg {
    padding: scaleVW(15.5, 1920) scaleVW(27, 1920);
    font-size: scaleVW(20, 1920);
    line-height: 1.15;

    @include media-breakpoint-down(xl) {
      padding: 10px;
      font-size: 16px;
    }
  }

  &.btn-md {
    padding: 9px 14px;
    font-size: 14px;
    line-height: 1.15;

    @include media-breakpoint-down(xl) {
      padding: 10px;
      font-size: 16px;
    }
  }

  &.btn-sm {
    padding: 8.5px 11.1px;
    font-size: 14px;
    line-height: 1.14;
  }

  &.btn--camera {
    display: inline-flex;
    align-items: center;

    &:before {
      margin-right: 10px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: url(../img/camera-icon.svg) no-repeat center;
      background-size: contain;
    }
  }
}

.form-check {
  position: relative;
  padding-left: 42px;

  .form-check-input {
    margin-top: 0;
    margin-left: -42px;

    &[type='radio'],
    &[type='checkbox'] {
      width: 24px;
      height: 24px;
      background: #f0f0f0;
      border: 0;
      border-radius: 4px;
      outline: none;
      box-shadow: none;
    }

    &:checked[type='radio'] {
      background: $primary;

      & ~ .form-check-label {

        &:before {
          position: absolute;
          top: 4.3px;
          left: 4.3px;
          display: block;
          width: 15px;
          height: 15px;
          content: '';
          background: $dark;
          border-radius: 4px;
        }
      }
    }

    &:checked[type='checkbox'] {
      background: $primary;
      outline: none;
      box-shadow: none;

      & ~ .form-check-label {

        &:before {
          position: absolute;
          top: 4.3px;
          left: 4.3px;
          display: block;
          width: 15px;
          height: 15px;
          content: '';
          background: url(../img/check.svg) no-repeat center;
          background-size: contain;
        }
      }
    }

    &:focus {

      & ~ .form-check-label {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .form-check-label {
    font-size: 16px;
    line-height: 1.19;

    @include media-breakpoint-down(xxl) {
      font-size: 14px;
    }
  }

  &--interest {
    margin-right: 14px;
    margin-bottom: 16px;
    padding-left: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }

    .form-check-input {
      position: absolute;
      opacity: 0;
      pointer-events: none;

      &:checked {

        & ~ .form-check-label {
          color: #fff;
          background: $secondary;
        }
      }
    }

    .form-check-label {
      padding: 8px 14.5px;
      background: rgba(0, 145, 218, .1);
      border-radius: 4px;
      cursor: pointer;

      @include transition;

      @include media-breakpoint-down(sm) {
        padding: 5px 10px;
        font-size: 13px;
      }

      &:hover {
        background: rgba(0, 145, 218, .3);
      }

      &:before {
        display: none !important;
      }
    }
  }

  &__subheader {
    margin-top: 10px;
    display: block;
    font-size: 12px;
    line-height: 1.17;
    color: rgba($dark, .5);
  }
}

.nav-tabs {
  margin-bottom: scaleVW(35, 1920);
  padding-left: 0;
  border-bottom: 1px solid rgba($dark, .1);

  @include media-breakpoint-down(xl) {
    margin-bottom: 20px;
  }

  .nav-item {
    margin-right: scaleVW(50, 1920);
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    @include media-breakpoint-down(xl) {
      margin-right: 30px;
    }

    &:before {
      display: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-link {
    padding: 0 0 scaleVW(15, 1920);
    font-size: scaleVW(20, 1920);
    line-height: 1.15;
    color: $dark;
    border: 0 !important;

    &:hover {
      color: $secondary;
    }

    @include media-breakpoint-down(xl) {
      padding-bottom: 5px;
      font-size: 14px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
      padding-bottom: 15px;
    }

    &.active {
      color: $secondary;
      border-bottom: 1px solid $secondary !important;

      @include media-breakpoint-down(md) {
        border-bottom: 0 !important;
      }
    }

    &--unread {
      position: relative;

      &:after {
        position: absolute;
        top: 0;
        right: -10px;
        display: block;
        width: 8px;
        height: 8px;
        content: '';
        background: $danger;
        border-radius: 50%;
      }
    }
  }
}

/* Slick */

.slick-dots {
  margin-bottom: 0;
  display: flex;

  @include media-breakpoint-down(md) {
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 16px;
    justify-content: center;
  }

  li {
    margin-right: scaleVW(10, 1920);
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    &:before {
      display: none;
    }

    @include media-breakpoint-down(xl) {
      margin-right: 15px;
    }

    &:last-child {
      margin-right: 0;
    }

    &.slick-active {

      button {
        width: scaleVW(280, 1920);

        @include media-breakpoint-down(lg) {
          width: 100px;
        }

        &:before {
          animation: fill 5s forwards;
        }
      }
    }

    button {
      position: relative;
      display: block;
      width: scaleVW(6, 1920);
      height: scaleVW(6, 1920);
      font-size: 0;
      background: rgba(255, 255, 255, .5);
      border-radius: 1.65px;

      @include transition;

      @include media-breakpoint-down(xl) {
        width: 6px;
        height: 6px;
      }

      &:hover {
        opacity: .9;
      }

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 0;
        height: 100%;
        content: '';
        background: #fff;
        border-radius: 1.65px;
      }
    }
  }
}

@keyframes fill {

  to {
    width: 100%;
  }
}

/* Select2 */

.select2-container .select2-selection--single {
  height: 56px;
  background: #f0f0f0;
  border: 0;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 17px;
  display: flex;
  height: 56px;
  align-items: center;
  font-size: 16px;
  color: #000;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  right: 20px;
  background: url(../img/select-arrow.svg) no-repeat center;
  background-size: 50%;
  transform: translateY(-50%);
}

.select2-selection__arrow b {
  display: none;
}

.select2-container--open .select2-dropdown--below {
  background: #fff;
}

.select2-container--default .select2-results > .select2-results__options li {
  margin-bottom: 0;
  padding: 15px;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.19;

  &:before {
    display: none;
  }
}

.select2-container--default .select2-results__option[aria-selected='true'] {
  color: $dark;
}

/* Perfect Scrollbar */

.ps__rail-y {
  opacity: 1;
}

/* El-select */

.el-select-dropdown {

  @include media-breakpoint-down(sm) {
    left: 0 !important;
    max-width: 100%;
  }
}

/* El-crop */

.el-dialog {
  max-width: 100%;
}
