mixin faq(data)
  .faq&attributes(attributes)
    a.faq__header(href="#")
      p.lg.text-white.mb-0= data.header
    .faq__content
      p.lh-md Цель Фонда - поддержка технологического предпринимательства в России и коммерциализация результатов научно-исследовательской деятельности. Число резидентов «Сколково» уже приблизилось к 2,5 тысячам. Фонд оказывает им комплекс услуг, необходимых для вывода разработок на российский и международный рынки. Статус резидента дает компании налоговые и таможенные льготы. В 2019 году выручка резидентов составила более 100 млрд рублей, а сумма привлеченных ими инвестиций превысила 13 млрд руб. 