.faq {
  margin-bottom: 24px;
  background: #202020;
  border-radius: 4px;

  &__header {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none;
    border-radius: 4px;

    @include media-breakpoint-down(sm) {
      padding: 16px;
    }

    &:after {
      position: relative;
      top: 7px;
      margin-left: 20px;
      display: block;
      width: 12px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: url(../img/faq-arrow.svg) no-repeat center;
      background-size: contain;

      @include transition;
    }

    &--active {

      &:after {
        transform: rotate(90deg);
      }
    }
  }

  &__content {
    padding: 12px 24px 1px;
    display: none;

    @include media-breakpoint-down(sm) {
      padding: 4px 16px 1px;
    }
  }
}
