.pagination {
  display: flex;

  &__item {
    position: relative;
    margin-right: 16px;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
    background: #202020;
    border-radius: 4px;

    @include transition;

    @include media-breakpoint-down(md) {
      margin-right: 10px;
    }

    &:hover {
      color: $dark;
      background: $primary;
    }

    &:last-child {
      margin-right: 0;
    }

    &--arrow {

      &:hover {

        &:before {
          display: none;
        }
      }

      &:before,
      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 8px;
        height: 16px;
        content: '';
        transform: translate(-50%, -50%);
      }

      &:before {
        background: url(../img/pagination-arrow.svg) no-repeat center;
        background-size: contain;

        @include transition;
      }

      &:after {
        opacity: 0;
        background: url(../img/pagination-arrow-dark.svg) no-repeat center;
        background-size: contain;
        transition: opacity .3s ease-in-out;
      }
    }

    &--prev {

      &:after {
        transform: translate(-50%, -50%) rotate(180deg);
      }

      &:hover {

        &:after {
          opacity: 1;
          transform: translate(-50%, -50%) rotate(180deg);
        }
      }
    }

    &--next {

      &:before {
        transform: translate(-50%, -50%) rotate(180deg);
      }

      &:hover {

        &:after {
          opacity: 1;
        }
      }
    }
  }
}
