mixin pagination(data)
  .pagination&attributes(attributes)
    a.pagination__item.pagination__item--arrow.pagination__item--prev(href="#")
    a.pagination__item(href="#") 1
    a.pagination__item(href="#") 2
    a.pagination__item(href="#") 3
    a.pagination__item(href="#") ...
    a.pagination__item(href="#") 25
    a.pagination__item.pagination__item--arrow.pagination__item--next(href="#")
