
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/front/front.pug
include ../blocks/slider/slider.pug
include ../blocks/item/item.pug
include ../blocks/frontman/frontman.pug
include ../blocks/communication/communication.pug
include ../blocks/partners/partners.pug
include ../blocks/footer/footer.pug
include ../blocks/socials/socials.pug
include ../blocks/history/history.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/participation/participation.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/select/select.pug
include ../blocks/cabinet/cabinet.pug
include ../blocks/session/session.pug
include ../blocks/hotel/hotel.pug
include ../blocks/program/program.pug
include ../blocks/document/document.pug
include ../blocks/search/search.pug

include ../blocks/type/type.pug
include ../blocks/about/about.pug
include ../blocks/section/section.pug
include ../blocks/feature/feature.pug
include ../blocks/contact/contact.pug
include ../blocks/participant/participant.pug
include ../blocks/badge/badge.pug

include ../blocks/switch/switch.pug
include ../blocks/file/file.pug
include ../blocks/event/event.pug
include ../blocks/scrollbar/scrollbar.pug
include ../blocks/back/back.pug
include ../blocks/article/article.pug
include ../blocks/speaker/speaker.pug
include ../blocks/person/person.pug
include ../blocks/link/link.pug
include ../blocks/gallery/gallery.pug
include ../blocks/mate/mate.pug
include ../blocks/anchor/anchor.pug
include ../blocks/print/print.pug
include ../blocks/pagination/pagination.pug
include ../blocks/presentation/presentation.pug
include ../blocks/partner/partner.pug
include ../blocks/chat/chat.pug
include ../blocks/message/message.pug
include ../blocks/faq/faq.pug
include ../blocks/speaker-page/speaker-page.pug
include ../blocks/news/news.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/user-message/user-message.pug
include ../blocks/opportunity/opportunity.pug
include ../blocks/gradient/gradient.pug