.breadcrumbs {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-down(xl) {
    margin-bottom: 30px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #fff;

    @include transition;

    &:after {
      margin: 0 10px;
      display: block;
      width: 10px;
      height: 10px;
      content: '';
      background: url(../img/arrow-white.svg) no-repeat center;
      transform: rotate(-90deg);
    }

    &:last-child {
      opacity: .6;
      pointer-events: none;

      &:after {
        display: none;
      }
    }
  }
}
