.gradient {
  position: relative;
  margin-right: scaleVW(-64, 1920);
  margin-left: -16px;

  &__content {
    padding-right: 200px;
    display: flex;
    overflow: auto;

    @include media-breakpoint-down(sm) {
      padding-right: 100px;
    }

    &:after {
      position: absolute;
      top: 0;
      right: -16px;
      display: block;
      width: 200px;
      height: 100%;
      content: '';
      background: linear-gradient(to left, rgba(#000, 1) 30%, rgba(#000, .8) 60%, rgba(#000, 0));

      @include media-breakpoint-down(sm) {
        width: 100px;
      }
    }
  }
}
