.input {
  padding: 0 15.5px;
  width: 100%;
  min-height: 56px;
  background: #f0f0f0;
  border: 0;
  border-radius: 4px;

  @include placeholder(rgba($dark, .5));

  &:focus {
    background: #f0f0f0;
    outline: none;
    box-shadow: none;
  }
}
