mixin contact(data)
  .contact&attributes(attributes)
    .contact__content
      p.lg.mb-5= data.name
      p.transparent.mb-5 Программа
      a.p.sm.text-primary(href="#") EBauer@sk.ru
    .contact__photo
      img.contact__photo-img(src="./img/" + data.photo, alt)
