.contact {
  position: relative;
  margin-bottom: scaleVW(32, 1920);
  padding: scaleVW(60, 1920) scaleVW(64, 1920);
  background: #202020;
  border-radius: 4px;

  @include media-breakpoint-down(xl) {
    margin-bottom: 20px;
    padding: 20px;
  }

  &__content {
  }

  &__photo {
    position: absolute;
    right: 0;
    bottom: 0;
    height: calc(100% - 10px);
  }

  &__photo-img {
    max-width: 100%;
    height: 100%;
  }
}
