.print {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: $secondary;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &:before {
    margin-right: 17.5px;
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    content: '';
    background: url(../img/print.svg) no-repeat center;
    background-size: contain;
  }
}
