.mate {
  margin-bottom: 20px;
  display: flex;
  width: 100%;
  height: 176px;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;

  @include transition;

  &:hover {
    opacity: .8;
  }

  &__img {
    max-width: 90%;
    max-height: 90%;
  }
}
