mixin chat(data)
  .chat&attributes(attributes)
  
    if data && data.type == 'short'
        .chat__main
          .chat__main-wrapper
            .chat__content
              .chat__content-messages.scrollbar-y
                +message({
                  content: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют',
                  info: 'Вячеслав, 13:06 12.04.2020'
                }).message--opponent
                +message({
                  content: 'обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов',
                  info: 'Вы 13:06 12.04.2020'
                }).message--user
                +message({
                  content: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют ',
                  info: 'Вы в 13:06'
                }).message--opponent
                +message({
                  content: 'заполнение шаблона, а также реальное распределение букв и пробелов',
                  info: 'Вы 13:06 12.04.2020'
                }).message--user
              form.chat__footer(action="#", method="post")
                input.chat__footer-input(type="text", placeholder="Написать сообщение")
                a.chat__footer-btn(href="#")
                  img(src="./img/chat-emoji.svg", alt)
                a.chat__footer-btn(href="#")
                  img(src="./img/chat-send.svg", alt)
                  
    else if data && data.type == 'common'
      .chat__top
        a.btn.btn-primary.btn-md(href="#") Общий чат
      .chat__main
        .chat__main-wrapper
          .chat__content
            .chat__content-messages.scrollbar-y
              +user-message({
                picture: 'person-1.jpg',
                name: 'Вячеслав Чморшанский',
                verified: true,
                message: 'Сообщение от Вячеслава в несколько строк'
              }).user-message--pinned
              +user-message({
                picture: 'person-2.jpg',
                name: 'Вячеслав Чморшанский',
                message: 'Сообщение от Вячеслава в несколько строк'
              })
              +user-message({
                picture: 'person-3.jpg',
                name: 'Ангелина Семенова',
                verified: true,
                message: 'Сообщение от Вячеслава в несколько строк'
              })
              +user-message({
                picture: 'person-4.jpg',
                name: 'Алина Некрасова',
                reply: true,
                message: 'заполнение шаблона, а также реальное распределение букв и пробелов'
              })
              +user-message({
                picture: 'person-5.jpg',
                name: 'Виктор Англов',
                message: 'Сообщение от Вячеслава в несколько строк'
              })
              +user-message({
                picture: 'person-2.jpg',
                name: 'Вячеслав Чморшанский',
                message: 'Сообщение от Вячеслава в несколько строк'
              })
              +user-message({
                picture: 'person-3.jpg',
                name: 'Ангелина Семенова',
                verified: true,
                message: 'Сообщение от Вячеслава в несколько строк'
              })
              +user-message({
                picture: 'person-4.jpg',
                name: 'Алина Некрасова',
                reply: true,
                message: 'заполнение шаблона, а также реальное распределение букв и пробелов'
              })
              +user-message({
                picture: 'person-5.jpg',
                name: 'Виктор Англов',
                message: 'Сообщение от Вячеслава в несколько строк'
              })
            form.chat__footer(action="#", method="post")
              input.chat__footer-input(type="text", placeholder="Написать сообщение")
              a.chat__footer-btn(href="#")
                img(src="./img/chat-emoji.svg", alt)
              a.chat__footer-btn(href="#")
                img(src="./img/chat-stickers.svg", alt)
              a.chat__footer-btn(href="#")
                img(src="./img/chat-send.svg", alt)
                  
    else
      .chat__wrapper
        .chat__aside
          .chat__aside-header
            form.chat__search(action="#", method="get")
              input.chat__search-input(type="text", placeholder="Поиск")
              button.chat__search-btn(type="submit")
            .chat__count 35
          .chat__persons.scrollbar-y
            +person({
              picture: 'person-1.jpg',
              title: 'Вячеслав Чморшанскийских',
              verified: true
            })
            +person({
              picture: 'person-1.jpg',
              title: 'Юия Кирпа'
            })
            +person({
              picture: 'person-1.jpg',
              title: 'Олег Олаф'
            })
            +person({
              picture: 'person-1.jpg',
              title: 'Марина Олексеева'
            })
            +person({
              picture: 'person-1.jpg',
              title: 'Ким Кин'
            })
            +person({
              picture: 'person-1.jpg',
              title: 'Олег Вертегел'
            })
            +person({
              picture: 'person-1.jpg',
              title: 'Риза Чалиев'
            })
            +person({
              picture: 'person-1.jpg',
              title: 'Вячеслав Чморшанскийских'
            })
            +person({
              picture: 'person-1.jpg',
              title: 'Юия Кирпа'
            })
            +person({
              picture: 'person-1.jpg',
              title: 'Олег Олаф'
            })
            +person({
              picture: 'person-1.jpg',
              title: 'Марина Олексеева'
            })
            +person({
              picture: 'person-1.jpg',
              title: 'Ким Кин'
            })
            +person({
              picture: 'person-1.jpg',
              title: 'Олег Вертегел'
            })
            +person({
              picture: 'person-1.jpg',
              title: 'Риза Чалиев'
            })
        .chat__main
          .chat__main-wrapper
            .chat__content
              .chat__content-messages.scrollbar-y
                +message({
                  content: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют',
                  info: 'Вячеслав, 13:06 12.04.2020'
                }).message--opponent
                +message({
                  content: 'обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов',
                  info: 'Вы 13:06 12.04.2020'
                }).message--user
                +message({
                  content: 'Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют ',
                  info: 'Вы в 13:06'
                }).message--opponent
                +message({
                  response: true,
                  content: 'заполнение шаблона, а также реальное распределение букв и пробелов',
                  info: 'Вы 13:06 12.04.2020'
                }).message--user
              form.chat__footer(action="#", method="post")
                input.chat__footer-input(type="text", placeholder="Написать сообщение")
                a.chat__footer-btn(href="#")
                  img(src="./img/chat-emoji.svg", alt)
                a.chat__footer-btn(href="#")
                  img(src="./img/chat-stickers.svg", alt)
                a.chat__footer-btn(href="#")
                  img(src="./img/chat-send.svg", alt)
