.chat {
  position: relative;
  width: 100%;
  background: #202020;
  border-radius: 4px;

  &__wrapper {
    display: flex;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__top {
    padding: 16px;
  }

  &__aside {
    width: 100%;
    max-width: 424px;
    max-height: 100%;
    flex-shrink: 0;
    background: #000;
    border-radius: 4px 0 0 4px;

    @include media-breakpoint-down(xxl) {
      max-width: 300px;
    }

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }

  &__aside-header {
    padding: 24px 29px 12px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(xxl) {
      padding: 19px 18px 12px;
    }
  }

  &__search {
    padding: 0 14px 0 20px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    background: #1b1b1b;
    border-radius: 150px;
  }

  &__search-input {
    height: 48px;
    flex-grow: 1;
    font-size: 16px;
    color: #fff;
    background: transparent;
    border: 0;

    @include placeholder(rgba(#fff, .21));

    @include media-breakpoint-down(xxl) {
      width: 100px;
    }
  }

  &__search-btn {
    margin-left: 14px;
    width: 19px;
    height: 19px;
    flex-shrink: 0;
    background: url(../img/chat-search-btn.svg) no-repeat center;
    background-size: contain;
  }

  &__count {
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 16px;
    color: $primary;

    &:before {
      margin-right: 6px;
      display: block;
      width: 15px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: url(../img/chat-count.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__persons {
    position: relative;
    height: 466px;

    @include media-breakpoint-down(md) {
      display: flex;
      overflow: auto;
      width: 100%;
      height: auto;
    }
  }

  &__main {
    flex-grow: 1;
  }

  &__main-wrapper {
  }

  &__content {
  }

  &__content-messages {
    position: relative;
    padding: 24px 32px;
    display: flex;
    overflow: hidden;
    height: 493px;
    flex-direction: column;

    @include media-breakpoint-down(md) {
      height: 300px;
    }
  }

  &__footer {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(#8f9bb3, .2);
  }

  &__footer-input {
    padding-left: 0;
    flex-grow: 1;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    background: transparent;
    border: 0;

    @include placeholder(#939598);
  }

  &__footer-btn {
    margin-left: 24px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    @include transition;

    @include media-breakpoint-down(md) {
      margin-left: 16px;
    }

    &:hover {
      opacity: .8;
    }
  }

  .ps--active-x > .ps__rail-x,
  .ps--active-y > .ps__rail-y {
    display: block;
    opacity: 1;
  }

  .ps__thumb-y,
  .ps__rail-y:hover > .ps__thumb-y,
  .ps__rail-y:focus > .ps__thumb-y,
  .ps__rail-y.ps--clicking .ps__thumb-y {
    background: rgba($primary, .5);
  }

  &--wide {
    max-width: 1184px;
    height: 550px;

    @include media-breakpoint-down(md) {
      height: auto;
    }

    .message__content {
      max-width: 370px;

      &:after {
        top: calc(100% - 5px) !important;
      }
    }

    .message__info {
      padding-left: 0;
      font-size: 14px;
    }
  }

  &--common {

    .chat__top {
      padding: 14px;
    }

    .chat__content-messages {
      padding: 0;
    }
  }
}
