.gallery {
  position: relative;
  margin-right: scaleVW(-64, 1920);
  margin-left: -16px;
  display: flex;

  &__item {
    position: relative;
    margin: 0 16px;
    display: block;
    width: 270px;
    height: 270px;
    flex-shrink: 0;

    @include transition;

    @include media-breakpoint-down(sm) {
      width: 150px;
      height: 150px;
    }

    &:hover {
      opacity: .8;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}
