mixin gallery(data)
  .gallery.gradient&attributes(attributes)
    .gradient__content
      a.gallery__item(href="#")
        img.gallery__img(src="./img/gallery-1.jpg", alt)
      a.gallery__item(href="#")
        img.gallery__img(src="./img/gallery-2.jpg", alt)
      a.gallery__item(href="#")
        img.gallery__img(src="./img/gallery-3.jpg", alt)
      a.gallery__item(href="#")
        img.gallery__img(src="./img/gallery-4.jpg", alt)
      a.gallery__item(href="#")
        img.gallery__img(src="./img/gallery-2.jpg", alt)
      a.gallery__item(href="#")
        img.gallery__img(src="./img/gallery-1.jpg", alt)
      a.gallery__item(href="#")
        img.gallery__img(src="./img/gallery-2.jpg", alt)
      a.gallery__item(href="#")
        img.gallery__img(src="./img/gallery-3.jpg", alt)
      a.gallery__item(href="#")
        img.gallery__img(src="./img/gallery-4.jpg", alt)
      a.gallery__item(href="#")
        img.gallery__img(src="./img/gallery-2.jpg", alt)
