mixin user-message(data)
  .user-message&attributes(attributes)
    .user-message__wrapper
      .user-message__left
        .user-message__picture
          img.user-message__picture-img(src="./img/" + data.picture, alt)
        .user-message__content
          .user-message__content-header
            p.user-message__name= data.name
            if data && data.verified
              .user-message__verified
            .user-message__time 15:50
          .user-message__content-inner
            if data && data.reply
              .user-message__reply
                .user-message__reply-name Ангелина Семенова
                .user-message__reply-message обеспечивает более или менее стандартное заполнение шаблона, 
            p.user-message__text= data.message
      .user-message__right
        .user-message__menu
          a.user-message__menu-btn(href="#")
          .user-message__menu-content
            a.user-message__menu-link(href="#") закрепить
            a.user-message__menu-link(href="#") удалить
            a.user-message__menu-link(href="#") забанить
        a.user-message__pin(href="#")
