.user-message {
  position: relative;
  padding: 13px 14px;

  @include transition;

  &:hover {
    background: rgba($primary, .1);

    .user-message__menu {
      display: block;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
  }

  &__picture {
    position: relative;
    margin-right: 12px;
    width: 42px;
    height: 42px;
    flex-shrink: 0;
    border: 2px solid $primary;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      width: 36px;
      height: 36px;
    }
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
  }

  &__content-header {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
  }

  &__verified {
    margin-right: 10px;
    width: 14px;
    height: 14px;
    background: url(../img/verified.svg) no-repeat center;
    background-size: contain;
    border-radius: 50%;
  }

  &__time {
    font-size: 12px;
    line-height: 1.15;
    font-weight: 700;
    color: rgba(#fff, .5);
  }

  &__content-inner {
  }

  &__reply {
    margin-top: 17px;
    margin-bottom: 8px;
    padding-left: 10px;
    border-left: 2px solid $primary;
  }

  &__reply-name {
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
    color: $primary;

    @include media-breakpoint-down(sm) {
      font-size: 12px;
      line-height: 1.15;
    }
  }

  &__reply-message {
    font-size: 16px;
    line-height: 19px;
    color: #fff;

    @include media-breakpoint-down(sm) {
      font-size: 12px;
      line-height: 1.15;
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__pin {
    display: none;
    width: 14px;
    height: 14px;
    background: url(../img/pin.svg) no-repeat center;
    background-size: contain;
    cursor: pointer;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__menu {
    position: relative;
    margin-left: 10px;
    display: none;
    align-self: stretch;

    @include media-breakpoint-down(xl) {
      display: block;
    }

    &:hover {

      .user-message__menu-content {
        display: block;
      }
    }
  }

  &__menu-btn {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/user-menu.svg) no-repeat center;
    background-size: contain;
  }

  &__menu-content {
    position: absolute;
    z-index: 1;
    top: calc(100% - 5px);
    right: 0;
    padding: 11px 17px;
    display: none;
    background: #000;
    border-radius: 4px;
  }

  &__menu-link {
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: $primary;

    @include transition;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__name {
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
  }

  &__text {
    margin-bottom: 0;
    font-size: 14px;
    color: #fff;
  }

  &--pinned {
    position: sticky;
    z-index: 2;
    top: 0;
    margin: 0 auto;
    padding: 13px 28px;
    width: 100%;
    background: #202020;

    &:hover {
      background: #202020;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 50%;
      display: block;
      width: calc(100% - 32px);
      height: 100%;
      content: '';
      background: #060606;
      border-radius: 4px;
      transform: translateX(-50%);
    }

    .user-message__left {
      position: relative;
      z-index: 1;
    }

    .user-message__pin {
      position: relative;
      z-index: 1;
      margin-right: 8px;
      margin-left: 16px;
      display: block;
    }
  }
}
