.section {
  margin-bottom: scaleVW(32, 1920);
  padding: scaleVW(32, 1920);
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff;
  background: #202020;
  border-radius: 4px;

  @include media-breakpoint-down(xl) {
    margin-bottom: 20px;
    padding: 20px;
  }
}
