.article {

  &__date {
    margin-bottom: 48px;
    font-size: 12px;
    line-height: 1.3;

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }

  &__header-text {
    margin-right: scaleVW(50, 1920);
    margin-bottom: scaleVW(50, 1920);
    font-family: $font-family-serif;
    font-size: 16px;
    line-height: 1.31;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;

    @include media-breakpoint-down(lg) {
      margin-right: 30px;
      margin-bottom: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }

  &__header-hall {
    margin-right: scaleVW(50, 1920);
    margin-bottom: scaleVW(50, 1920);
    font-size: 12px;
    color: #fff;
    will-change: 1.3;

    @include media-breakpoint-down(lg) {
      margin-right: 30px;
      margin-bottom: 20px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }

  &__controls {
    margin-bottom: scaleVW(50, 1920);
    flex-wrap: wrap;

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }
  }

  &__info {

    @include media-breakpoint-down(md) {
      margin: 0 auto;
      max-width: 272px;
    }
  }

  &__logo {
    position: relative;
    margin-bottom: 35px;
    padding: 30px;
    display: flex;
    width: 100%;
    min-height: 272px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 8px;

    @include media-breakpoint-down(md) {
      min-height: 0;
    }
  }

  &__logo-img {
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
  }

  &__iframe {
  }

  &__info-item {
    margin-bottom: 12px;
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #fff;

    @include transition;

    &:before {
      margin-right: 25px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';
    }

    &:hover {
      opacity: .8;
    }

    &--web {

      &:before {
        background: url(../img/article-web.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--email {

      &:before {
        background: url(../img/article-email.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--phone {

      &:before {
        background: url(../img/article-phone.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--primary {
      color: $primary;
    }
  }

  &__chat {
    margin-top: 40px;

    @include media-breakpoint-down(md) {
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__chat-btn {
    margin-bottom: 16px;
    display: block;
    text-decoration: none;
    color: #fff;

    @include media-breakpoint-down(md) {
      padding: 10px 16px;
      display: inline-flex;
      align-items: center;
      border: 1px solid #fff;
      border-radius: 4px;
    }

    &:hover,
    &:focus,
    &:active {
      color: #fff;
    }

    &:after {
      margin-left: 10px;
      display: none;
      width: 20px;
      height: 12px;
      flex-shrink: 0;
      content: '';
      background: url(../img/arrow-white.svg) no-repeat center;
      background-size: contain;

      @include transition;

      @include media-breakpoint-down(md) {
        display: block;
      }
    }

    &--active {

      &:after {
        transform: rotate(180deg);
      }
    }
  }

  &__chat-content {

    @include media-breakpoint-down(md) {
      display: none;
      width: 100%;
    }
  }
}
