mixin switch(data)
  .switch&attributes(attributes)
    .form-check
      input#flexCheckDefault1.form-check-input(type='checkbox' value='')
      label.form-check-label(for='flexCheckDefault1')
        span.switch__btn Программа
        span.switch__btn Программа партнеров
