.switch {

  .form-check {
    padding-left: 0;
  }

  .form-check-input {
    position: absolute;
    opacity: 0;
    pointer-events: none;

    &:checked {

      & ~ .form-check-label {

        .switch__btn {

          &:first-child {
            color: #fff;
            background: transparent;
          }

          &:last-child {
            color: #000;
            background: $secondary;
          }
        }
      }
    }
  }

  .form-check-label {
    display: inline-flex;
    align-items: center;
    background: #202020;
    border-radius: 4px;

    &:before {
      display: none !important;
    }
  }

  &__btn {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &:first-child {
      color: #000;
      background: $secondary;
    }
  }
}
