.participant {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $dark;

  @include transition;

  &:hover {
    opacity: .8;
    color: $dark;

    .participant__controls {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__picture {
    position: relative;
    margin-right: 24px;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 4px;

    @include media-breakpoint-down(xl) {
      margin-right: 16px;
      width: 45px;
      height: 45px;
    }
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    object-position: top center;
  }

  &__content {
  }

  &__name {

    @include media-breakpoint-down(xl) {
      font-size: 14px;
    }
  }

  &__controls {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    background: rgba(#fff, .9);

    @include transition;
  }

  &__control-btn {

    @include media-breakpoint-down(xl) {
      padding: 5px;
      font-size: 12px;
    }

    & + & {
      margin-left: 10px;
    }
  }
}
