mixin participant(data)
  .participant&attributes(attributes)
    .participant__picture
      img.participant__picture-img(src="./img/" + data.picture, alt)
    .participant__content
      p.participant__name.mb-5= data.name
      p.sm.text-secondary.mb-0 Google
    .participant__controls
      a.btn.btn-primary.participant__control-btn(href="#") Начать чат
      a.btn.btn-primary.participant__control-btn(href="#") Назначить встречу
