mixin opportunity(data)
  .opportunity(style="background-image: url(./img/" + data.icon + ');')&attributes(attributes)
    h6.text-white.text-uppercase.opportunity__title.mb-20= data.title
    p.sm.sm-st.text-white.mb-0= data.dscr
