.opportunity {
  margin-bottom: 32px;
  padding: 45px;
  width: 100%;
  background: #202020;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  border-radius: 4px;

  @include media-breakpoint-down(xxl) {
    padding: 30px;
  }

  @include media-breakpoint-down(xl) {
    padding: 20px;
  }

  &__title {

    @include media-breakpoint-down(xxl) {
      font-size: 20px;
    }
  }
}
