mixin search(data)
  form.search(action="#", method="POST")&attributes(attributes)
    button.search__btn(type="submit")
    input.search__input(type="text", placeholder="Поиск сессии")
    a.search__clear(href="#")
  
