.search {
  position: relative;
  margin-left: scaleVW(40, 1920);
  padding: scaleVW(11, 1920) scaleVW(16, 1920);
  display: flex;
  max-width: scaleVW(720, 1920);
  align-items: center;
  flex-grow: 1;
  background: #202020;
  border: 1px solid transparent;
  border-radius: 4px;

  @include transition;

  @include media-breakpoint-down(xl) {
    margin-left: 40px;
    padding: 10px 15px;
    max-width: none;
  }

  @include media-breakpoint-down(md) {
    margin-top: 30px;
    margin-left: 0;
    width: 100%;
  }

  &__btn {
    display: block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    background: url(../img/search-btn.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__input {
    padding-left: scaleVW(16, 1920);
    flex-grow: 1;
    color: #fff;
    background: transparent;
    border: 0;

    @include media-breakpoint-down(xl) {
      padding-left: 16px;
    }
  }

  &__clear {
    position: absolute;
    top: 50%;
    right: 16px;
    display: none;
    width: 16px;
    height: 16px;
    background: url(../img/search-clear.svg) no-repeat center;
    background-size: contain;
    transform: translateY(-50%);

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &--active {
    border-color: $primary;
  }
}
