mixin item(data)
  a.item(href="#")&attributes(attributes)
    .item__picture
      img.item__picture-img(src="./img/" + data.picture, alt)
    .item__content
      h5.mb-10.mb-md-20= data.title
      p.lg.mb-0= data.content
