.item {
  position: relative;
  padding: scaleVW(25, 1920) scaleVW(30, 1920);
  display: block;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;

  @include transition;

  @include media-breakpoint-down(md) {
    padding: 20px;
  }

  &:hover {
    opacity: .9;
    color: inherit;
  }

  &__picture {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    @include media-breakpoint-down(lg) {
      right: -50px;
    }
  }

  &__picture-img {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center right;
  }

  &__content {
    position: relative;
    z-index: 1;
    max-width: 60%;
  }

  &.bg-primary {
    color: $dark;
  }
}
