.footer {
  margin-top: scaleVW(150, 1920);
  padding-top: scaleVW(95, 1920);
  overflow: hidden;

  @include media-breakpoint-down(md) {
    margin-top: 50px;
    padding-top: 40px;
  }

  &__partners {
    margin-bottom: scaleVW(105, 1920);

    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }

  &__bottom {
    position: relative;
    padding: scaleVW(54, 1920) 0;
    background: #000;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      opacity: .23;
      content: '';
      background: url(../img/footer-bg.png) no-repeat top right;
    }

    @include media-breakpoint-down(md) {
      padding: 32px 0;
    }
  }

  &__right {
    margin-bottom: scaleVW(12, 1920);

    @include media-breakpoint-down(xl) {
      margin-bottom: 12px;
    }
  }

  &__years-wrapper {
    margin-bottom: scaleVW(7, 1920);
    display: flex;

    @include media-breakpoint-down(xl) {
      margin-bottom: 7px;
    }
  }

  &__year {
    font-size: 11px;
    line-height: 13px;
    text-decoration: none;
    color: $secondary;

    & + & {

      &:before {
        margin: 0 scaleVW(10, 1920);
        content: '•';
      }
    }
  }

  &__right-bottom {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__link {
    text-decoration: none;

    @include transition;

    &:hover {
      opacity: .9;
    }
  }

  &__socials {
    margin-left: scaleVW(105, 1920);
    filter: invert(1);

    @include media-breakpoint-down(md) {
      margin-top: 20px;
      margin-left: 0;
    }
  }

  &--white {
    margin-top: 0;
    padding-top: 0;
  }

  &--short {
    margin-top: 0;
    padding-top: 0;
  }
}
