mixin footer(data)
  .footer&attributes(attributes)
    if data && data.partners
      +partners.footer__partners
    else if data && data.partnersNew
      +partners({
        type: 'new'
      }).footer__partners
    .footer__bottom
      .container-fluid
        .row
          .col-lg-3
            p.xs.mb-15 Открытые инновации © 2020.
            a.p.xs.text-secondary.d-block.footer__link.mb-15(href="#") Условия использования и политика конфиденциальности
            p.xs.mb-15 Разработка и поддержка сайта 
              a.text-secondary.footer__link(href="#") RUVENTS
          .col-lg-9.d-flex.align-items-end
            .footer__right
              .footer__years-wrapper
                a.footer__year(href="#") 2016
                a.footer__year(href="#") 2017
                a.footer__year(href="#") 2018
                a.footer__year(href="#") 2019
              .footer__right-bottom
                p.xs.mb-0 Москва, территория Инновационного центра «Сколково», Большой бульвар, 42, корп. 1
                +socials.footer__socials

