.partner {
  margin-bottom: 40px;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  &__section {
    margin-bottom: 15px;
    text-align: center;
  }

  &__logo-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  &__logo-img {
    max-width: 100%;
    max-height: 100%;
  }

  &--light {
    padding: 30px;
    background: #fff;
    border-radius: 4px;

    .partner__section {
      color: $dark;
    }
  }
}
