.speaker {
  position: relative;
  margin-bottom: 40px;
  padding-top: 100%;
  overflow: hidden;
  width: 100%;
  border-radius: 4px;

  &:before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 37.6%,
      rgba(0, 0, 0, .696) 80.39%,
      rgba(0, 0, 0, .8) 100%
    );
    border-radius: 4px;

    @include transition;
  }

  &:after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    content: '';
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, .8) 0%,
      rgba(0, 0, 0, .696) 56.25%,
      rgba(0, 0, 0, .8) 100%
    );
    border-radius: 4px;

    @include transition;
  }

  &:hover {

    &:before {
      display: none;
    }

    &:after {
      opacity: 1;
    }

    .speaker__content-top {
      height: auto;
    }
  }

  &__favorite {
    position: absolute;
    z-index: 3;
    top: 16px;
    right: 16px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/speaker-fav.svg) no-repeat center;
    background-size: contain;

    &--active {
      background: url(../img/speaker-fav-active.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__content {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 16px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    @include transition;
  }

  &__content-top {
    margin-bottom: 16px;
    padding-right: 40px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;

    @include transition;
  }

  &__content-bottom {
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    object-fit: cover;
    object-position: top center;
  }

  &__btn {
    z-index: 2;
    margin-bottom: 8px;
    padding: 7.5px 11.1px !important;
    width: 100%;

    @include transition;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__name {
    margin-bottom: 7px;
    display: inline-flex;
    font-family: $font-family-sans-serif;
    font-size: 20px;
    line-height: 1.15;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

    @include transition;
  }

  &__company {
    font-size: 14px;
    line-height: 1.14;
  }

  &__country {
    margin-top: 9px;
    opacity: .5;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
  }

  &__verified {
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 16px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/verified.svg) no-repeat center;
    background-size: contain;
  }
}
