mixin speaker(data)
  .speaker&attributes(attributes)
    if data && data.verified
      a.speaker__verified(href="#")
    if data && data.favorite
      a.speaker__favorite.speaker__favorite--active(href="#")
    img.speaker__img(src="./img/" + data.photo, alt)
    .speaker__content
      .speaker__content-top
        a.h5.speaker__name(href="#") ALBERS BORIS
        p.speaker__company.mb-0 Совкомбанк
        if data && data.country
          .speaker__country Россия
      .speaker__content-bottom
        a.btn.btn-outline-primary.btn-sm.speaker__btn(href="#") Открыть биографию
        a.btn.btn-primary.btn-sm.speaker__btn(href="#") Начать чат
        a.btn.btn-primary.btn-sm.speaker__btn(href="#") Назначить встречу
