.document {
  margin-right: scaleVW(53, 1920);
  display: flex;
  align-items: center;
  font-size: 14px;
  text-decoration: none;

  @include transition;

  &:hover {
    opacity: .9;
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-right: 0;
  }

  &:before {
    margin-right: 9px;
    display: block;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    content: '';
    background: url(../img/document-icon.svg) no-repeat center;
    background-size: contain;
  }

  &--lg {
    font-size: 20px;
    line-height: 1.15;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
}
