.partners {

  &__item {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(xl) {
      margin-bottom: 40px;
    }
  }

  &__item-img {
    opacity: .5;

    @include transition;

    @include media-breakpoint-down(xl) {
      max-width: 90%;
      max-height: 90%;
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__slider {
    margin-left: -16px;
    width: calc(100% + 32px);

    .slick-track {
      display: flex !important;
    }

    .slick-slide {
      display: flex;
      height: auto;
    }
  }

  &__slider-item {
    margin: 0 16px;
  }
}
