mixin partners(data)
  .partners&attributes(attributes)
    if data && data.type == 'new'
      .container-fluid.mb-30.mb-xl-50
        h3.mb-30.mb-30 Соорганизаторы
        .partners__slider
          +partner({
            section: 'Соорганизатор',
            logo: 'partner-logo-1.png',
          }).partners__slider-item.partner--light
          +partner({
            section: 'Соорганизатор',
            logo: 'partner-logo-2.png',
          }).partners__slider-item.partner--light
          +partner({
            section: 'Соорганизатор',
            logo: 'partner-logo-1.png',
          }).partners__slider-item.partner--light
          +partner({
            section: 'Соорганизатор',
            logo: 'partner-logo-2.png',
          }).partners__slider-item.partner--light
          +partner({
            section: 'Соорганизатор',
            logo: 'partner-logo-1.png',
          }).partners__slider-item.partner--light
          +partner({
            section: 'Соорганизатор',
            logo: 'partner-logo-2.png',
          }).partners__slider-item.partner--light
          +partner({
            section: 'Соорганизатор',
            logo: 'partner-logo-1.png',
          }).partners__slider-item.partner--light
          +partner({
            section: 'Соорганизатор',
            logo: 'partner-logo-2.png',
          }).partners__slider-item.partner--light
      .container-fluid
        h3.mb-30.mb-30 Партнеры
        .partners__slider
          +partner({
            section: 'Официальный партнер',
            logo: 'partner-logo-1.png',
          }).partners__slider-item.partner--light
          +partner({
            section: 'Официальный партнер',
            logo: 'partner-logo-2.png',
          }).partners__slider-item.partner--light
          +partner({
            section: 'Официальный партнер',
            logo: 'partner-logo-1.png',
          }).partners__slider-item.partner--light
          +partner({
            section: 'Официальный партнер',
            logo: 'partner-logo-2.png',
          }).partners__slider-item.partner--light
          +partner({
            section: 'Официальный партнер',
            logo: 'partner-logo-1.png',
          }).partners__slider-item.partner--light
          +partner({
            section: 'Официальный партнер',
            logo: 'partner-logo-2.png',
          }).partners__slider-item.partner--light
          +partner({
            section: 'Официальный партнер',
            logo: 'partner-logo-1.png',
          }).partners__slider-item.partner--light
          +partner({
            section: 'Официальный партнер',
            logo: 'partner-logo-2.png',
          }).partners__slider-item.partner--light
    else
      .container-fluid
        h3.mb-30.mb-xl-100.pb-lg-45 Партнеры
        .row
          .col-xl-2.col-6.d-flex
            a.partners__item(href="#")
              img.partners__item-img(src="./img/partner-1.png", alt)
          .col-xl-2.col-6.d-flex
            a.partners__item(href="#")
              img.partners__item-img(src="./img/partner-2.png", alt)
          .col-xl-2.col-6.d-flex
            a.partners__item(href="#")
              img.partners__item-img(src="./img/partner-3.png", alt)
          .col-xl-2.col-6.d-flex
            a.partners__item(href="#")
              img.partners__item-img(src="./img/partner-4.png", alt)
          .col-xl-2.col-6.d-flex
            a.partners__item(href="#")
              img.partners__item-img(src="./img/partner-5.png", alt)
          .col-xl-2.col-6.d-flex
            a.partners__item(href="#")
              img.partners__item-img(src="./img/partner-6.png", alt)
