.frontman {
  position: relative;
  display: flex !important;
  flex-direction: column;
  //  align-items: flex-end;

  @include transition;

  &:hover {
    opacity: .9;
  }

  &__picture {
  }

  &__picture-img {
  }

  &__content {
    position: absolute;
  }

  &__content-wrapper {
  }

  &__name {
    margin-bottom: 5px;
    max-width: 130px;
    font-size: scaleVW(16, 1920);

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }

  &__info {
    font-size: 8px;
    line-height: 12px;
    text-transform: uppercase;
    color: #fff;

    @include media-breakpoint-down(md) {
      font-size: 12px;
    }
  }
}
