mixin frontman(data)
  .frontman&attributes(attributes)
    .frontman__picture
      img.frontman__picture-img(src="./img/frontman-1.png", alt)
    .frontman__content
      .frontman__content-wrapper
        h6.frontman__name AARON CIECHANOVER
        .frontman__info ( NOBEL LAUREATE )
