.program {
  padding-top: 40px;

  &__header {
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__header-right {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      margin-top: 30px;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__subheader {
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__tabs-controls {
  }

  &__tabs {
  }

  &__tab {
    display: none;

    &--active {
      display: block;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__time-wrapper {
    margin-right: 20px;
    padding-top: 90px;

    @include media-breakpoint-down(xl) {
      margin-right: 0;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__time {
    height: 180px;

    span {
      display: inline-flex;
      transform: rotate(90deg);
    }
  }

  &__content {
    margin-left: -9px;
    display: flex;
    width: calc(100% + 18px);
    flex-grow: 1;

    @include media-breakpoint-down(xxl) {
      margin-left: -5px;
      width: calc(100% + 10px);
    }

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
  }

  &__col {
    position: relative;
    margin: 0 9px;
    width: calc(100% / 7);

    @include media-breakpoint-down(xxl) {
      margin: 0 5px;
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 30px;
      width: 100%;
    }
  }

  &__col-header {
    position: sticky;
    z-index: 1;
    top: 0;
    margin-bottom: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #000;
  }

  &__col-header-title {
    margin-bottom: 8px;
    font-family: $font-family-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
  }

  &__col-header-place {
    font-size: 12px;
    line-height: 1.3;
    color: #fff;
  }

  &__col-content {
    position: relative;
    margin-top: -16px;
  }

  &__search-results {
    display: none;
    max-width: 1052px;
  }
}
