mixin session(data)
  a.session(href="#")&attributes(attributes)
    .session__header
      .session__header-left
        p.session__info.text-secondary.mb-0.me-25 3 зал
        p.session__info.text-secondary.mb-0 14:00
      .session__header-right
        .session__header-star
    .session__content
      p.session__title.mb-0= data.title
