.session {
  margin-bottom: 15px;
  padding: 16px;
  display: block;
  text-decoration: none;
  background: #202020;
  border-radius: 4px;

  @include media-breakpoint-down(lg) {
    padding: 12px;
  }

  &:hover {

    .session__title {
      color: $primary;
    }
  }

  &__header {
    margin-bottom: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-left {
    display: flex;
    align-items: center;
  }

  &__info {
    font-size: 16px;
    line-height: 1.19;

    @include media-breakpoint-down(lg) {
      font-size: 14px;
    }
  }

  &__header-right {
  }

  &__header-star {
    width: 24px;
    height: 24px;
    background: url(../img/star-filled.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(xl) {
      width: 18px;
      height: 18px;
    }
  }

  &__content {
    max-width: 70%;

    @include media-breakpoint-down(xl) {
      max-width: 100%;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 1.15;
    color: #fff;

    @include transition;

    @include media-breakpoint-down(xxl) {
      font-size: 17px;
    }

    @include media-breakpoint-down(xl) {
      font-size: 14px;
    }
  }
}
