.link {
  display: flex;
  align-items: center;
  font-size: 20px;
  line-height: 1.15;
  text-decoration: none;

  @include transition;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }

  &:hover {
    opacity: .7;
  }

  &--instagram {

    &:before {
      margin-right: 8px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: url(../img/icon-instagram.svg) no-repeat center;
      background-size: contain;
    }
  }
}
