extends ../templates/template.pug
block content
  .wrapper.overflow-visible
    +header
    .about
      .container-fluid
        .row
          .col-xl-4
            h2.md.mb-30 О форуме
          .col-xl-8
            .about__header
              .about__title 
                .about__title-top ( NOBEL 
                .about__title-bottom VISION )
              .about__subheader
                h2.md.mb-40.mb-xl-80 Open <br>innovations 2.0
            .row
              .col-xl-6
                p.mb-30.mb-xl-50 Nobel Vision. Open Innovations 2.0 – это эволюционный этап развития международного Форума «Открытые  инновации», ставшего за 9 лет одной из самых известных и авторитетных дискуссионных площадок,  посвященных инновационной тематике. Форум входит в число официальных мероприятий Года науки и  технологий в России.
            h4.mb-40.mb-xl-80 9 декабря 2021
            .row.mb-30.mb-xl-50
              .col-sm-6.d-flex
                +type({
                  bg: 'type-1.png',
                  type: 'Офлайн',
                  title: 'Технопарк «Сколково»'
                })
              .col-sm-6.d-flex
                +type({
                  bg: 'type-2.svg',
                  type: 'Онлайн',
                  title: 'Раздел LIVE на сайте Форума'
                })
            .row.mb-40.mb-xl-50
              .col-xl-6
                p В Nobel Vision примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других общепризнанных международных наград.
                p Сообщество ученых с мировым именем совместно с руководителями корпораций – ведущих бизнес-игроков наукоёмких отраслей – построят на основе состоявшихся на Форуме обсуждений цепочку будущего технологического развития отдельных рынков и различных сфер человеческой жизни.
            h2.md.mb-30.mb-xl-60 The title theme of the Forum - Discovering NextTech
            p.lg.mb-30.mb-xl-50 Что вас ждет на Форуме:
            .row
              .col-lg-6.d-flex
                +feature({
                  number: '1',
                  dscr: 'Ученые погрузят в интересующую вас научную тему и ее проблематику, расскажут, какие знания уже есть в данной области на текущий момент'
                })
              .col-lg-6.d-flex
                +feature({
                  number: '2',
                  dscr: 'Визионеры и футурологи озвучат возможные сценарии развития и тренды будущего, проанализируют их влияние на изменение технологического, социального и экономического уклада планеты'
                })
              .col-lg-6.d-flex
                +feature({
                  number: '3',
                  dscr: 'Руководители крупных корпораций опишут существующие подходы к созданию новых продуктов на основе высоких технологий, барьеры и возможности в секторе R’n’D'
                })
              .col-lg-6.d-flex
                +feature({
                  number: '4',
                  dscr: 'Представители различных отраслей бизнеса обсудят динамику изменений на технологических рынках, появление, сокращение и изменение объема рыночных сегментов'
                })
            .row
              .col-md-9
                h2.md.mt-40.mt-xl-80.mb-30.mb-xl-45 Active participants and visitors to the forum
            .row
              .col-md-6.col-xl-4.d-flex
                +section({
                  title: 'Бизнес',
                  dscr: 'Поиск партнеров из высокотехнологичных секторов, получение знаний о зарождающихся рынках и новых моделях развития компаний, диверсификация направлений деятельности, поддержка сотрудничества с инновационной экосистемой и государством'
                })
              .col-md-6.col-xl-4.d-flex
                +section({
                  title: 'Наука и технологии',
                  dscr: 'Новые знания о прорывных технологиях, перспективных направлениях исследований и новейших трендах, доступ ¬-к обсуждению запросов бизнеса, трансляция собственных нужд, обзор возможностей для коммерциализации идей'
                })
              .col-md-6.col-xl-4.d-flex
                +section({
                  title: 'Власть',
                  dscr: 'Выявление новых потребностей в области инновационных технологий, развитие государственных программ поддержки инноваций, стимулирование и укрепление инновационной деятельности'
                })
              .col-md-6.col-xl-4.d-flex
                +section({
                  title: 'Экосистема инноваций',
                  dscr: 'Обмен опытом и кейсами «выращивания» предпринимателей, глобализации стартапов, механики работы глобального венчурного рынка, вовлечение в международное инновационно-акселерационное сообщество'
                })
              .col-md-6.col-xl-4.d-flex
                +section({
                  title: 'Инвесторы',
                  dscr: 'Обмен опытом с успешными глобальными фондами, обновление знаний о  рынках прорывных технологий, расширение пайплайна проектов и установление связей с крупным бизнесом'
                })
              .col-md-6.col-xl-4.d-flex
                +section({
                  title: 'Стартапы',
                  dscr: 'Проникновение в  суть технологий нового поколения, обзор возможностей экосистемы и передовых инструментов для «взлета» компании и увеличения продаж, взаимодействие с инвесторами и крупным бизнесом'
                })
            .row.mt-30.mt-xl-60
              .col-md-9
                h2.md.mb-30.mb-xl-45 Interactive mix-formats for immersion in the world of science and technology:
            .row
              .col-md-6
                ul
                  li Nobel Vision Talks
                  li Киноуты
                  li Fireside chats
                  li Дебаты
                  li Open Talks
                  li Nobel Vision Map – итоговая сессия с обозначением набора практических решений
  +footer
