extends ../templates/template.pug
block content
  .wrapper
    +header
    .container-fluid.mt-30.mt-xl-45
      +breadcrumbs({
        links: ['Пресс-центр', 'Новости и события', '2020-й запомнится как год, когда мы остановим волну скептицизма в отношении науки']
      })
      .row
        .col-xxl-3.col-lg-2
          +back
        .col-xxl-6.col-lg-8
          .article
            .article__date 26 октября
            h2.md.mb-30.mb-xl-50 2020 will be remembered as the year we stem the tide of skepticism about science
            p В рамках сессии пройдет церемония награждение крупнейшего онлайн-хакатона Sovcombank Challenge 21, организаторами которого выступили Фонд «Сколково» и Совкомбанк.
            p Во время панельной дискуссии будут рассмотрены инструменты поиска талантов, кейсы корпораций. Конкуренция за талантливых сотрудников усилилась, поэтому корпорациям необходимо искать новые форматы и практики для привлечения лучших специалистов. В рамках сессии будут рассмотрены такие инструменты, как: хакатоны, чемпионаты, конкурсы и др. Какие практики работают, почему эффективны? Спикеры поделятся реальными кейсами.
  +footer.footer--short.mt-20
