extends ../templates/template.pug
block content
  .wrapper.wrapper--white
    +header({
      type: 'user'
    })
    .cabinet
      .container-fluid
        .row
          .col-lg-9
            .row.mb-30.mb-xl-50
              .col-md-5
                h2.md Личный <br>кабинет
              .col-md-7
                .cabinet__user
                  .cabinet__user-picture
                    img.cabinet__user-picture-img(src="./img/cabinet.png", alt)
                    +badge
                  .cabinet__user-content
                    h3.md.mb-15 Olga Medvedeva
                    p.mb-10 Рувентс
                    .cabinet__user-occupation Специалист по всем вопросам
                    a.btn.btn-outline-secondary.btn-sm(href="#") Редактировать профиль
                    p.sm.mt-20.mb-0 Ваш рейтинг: 
                      span.text-secondary.fw-bold 300 баллов
            ul#myTab.nav.nav-tabs(role='tablist')
              li.nav-item(role='presentation')
                button#home-tab.nav-link(data-bs-toggle='tab' data-bs-target='#profile' type='button' role='tab' aria-controls='profile' aria-selected='true') Профиль
              li.nav-item(role='presentation')
                button#payment-tab.nav-link(data-bs-toggle='tab' data-bs-target='#payment' type='button' role='tab' aria-controls='payment' aria-selected='false') Оплата
              li.nav-item(role='presentation')
                button#program-tab.nav-link(data-bs-toggle='tab' data-bs-target='#program' type='button' role='tab' aria-controls='program' aria-selected='false') Моя программа
              li.nav-item(role='presentation')
                button#chats-tab.nav-link.nav-link--unread(data-bs-toggle='tab' data-bs-target='#chats' type='button' role='tab' aria-controls='chats' aria-selected='false') Чаты
              li.nav-item(role='presentation')
                button#meetings-tab.nav-link(data-bs-toggle='tab' data-bs-target='#meetings' type='button' role='tab' aria-controls='meetings' aria-selected='false') Встречи
              li.nav-item(role='presentation')
                button#information-tab.nav-link(data-bs-toggle='tab' data-bs-target='#information' type='button' role='tab' aria-controls='information' aria-selected='false') Информация
              li.nav-item(role='presentation')
                button#transport-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#transport' type='button' role='tab' aria-controls='transport' aria-selected='false') Автотранспорт
            #myTabContent.tab-content
              #profile.tab-pane.fade(role='tabpanel' aria-labelledby='profile-tab')
                .row.mt-20.mt-xl-50
                  .col-sm-6.col-lg-5
                    .mb-30.mb-xl-50
                      p.sm.text-dark.transparent.mb-15 E-mail
                      p.mb-0 olga.medvedeva@ruvents.com
                    .mb-30.mb-xl-50
                      p.sm.text-dark.transparent.mb-15 Компания
                      p.mb-0 Рувентс
                    .mb-30.mb-xl-50
                      p.sm.text-dark.transparent.mb-15 Статус
                      p.mb-0 Инвестор
                  .col-sm-6.col-lg-7
                    .mb-30.mb-xl-50
                      p.sm.text-dark.transparent.mb-15 Телефон
                      p.mb-0 +7 985 668 99 55
                    .mb-30.mb-xl-50
                      p.sm.text-dark.transparent.mb-15 Должность
                      p.mb-0 Специалист по всем вопросам
              #payment.tab-pane.fade(role='tabpanel' aria-labelledby='payment-tab')
                .mb-30
                  p.text-dark.transparent.mb-15 Для оплаты участия добавьте необходимый пакет в корзину
                  a.cabinet__link(href="#") Подробное описание опций пакетов участия
                .mb-30.mb-xl-40
                  p.text-dark.transparent.mb-15 Если у вас есть промокод, добавьте пакет в корзину и активируйте его в разделе Промокод
                .row
                  .col-xl-5
                    .cabinet__payment
                      .cabinet__payment-picture
                        img.cabinet__payment-picture-img(src="./img/cabinet.png", alt)
                      .cabinet__payment-content
                        p.lg.mb-0 Ольга Медведева
                        .cabinet__payment-type
                          p.mb-0 Корпорация
                          .cabinet__payment-status Оплачен
                        p.sm.text-dark.transparent.mb-15 Рувентс, Специалист по всем вопросам
                        a.btn.btn-outline-secondary.btn-sm(href="#") Редактировать
                  .col-xl-7
                    form.form(action="#", method="POST")
                      .row
                        .col-sm-6
                          .form__item.form-group
                            label.form__item-header Тип участия
                            +select
                        .col-sm-6
                          .form__item.form-group
                            label.form__item-header Промо-код
                            .cabinet__promo
                              input.input.form-control.cabinet__promo-input(type="text", placeholder="Введите промо-код")
                              a.cabinet__promo-btn(href="#") ОК
                        .col-sm-6.d-flex.align-items-center
                          .cabinet__discount
                            p.sm.me-20.mb-0 Промокод:
                            p.lg.text-secondary.mb-0 -5 000 P
                        .col-sm-6
                          .cabinet__payment-price-wrapper
                            .cabinet__payment-price-content 
                              .p.lg.mb-0 25 000 P
                            a.btn.btn-secondary(href="#") Оплатить
                .cabinet__payment-participants
                  .cabinet__payment-participants-content
                    p.mb-0 Если вы хотите добавить дополнительных участников в свой Личный кабинет для совместной оплаты, нажмите на кнопку «Добавить участника»
                  a.btn.btn-outline-secondary(href="#") Добавить участника
                .cabinet__overall
                  .cabinet__overall-content
                    p.sm.me-35.mb-0 Всего:
                    p.lg.mb-0 25 000 P
                  a.btn.btn-secondary(href="#") Оплатить
                p.lg.mb-25 Счета
                .cabinet__footer
                  p.lg.me-20.mb-0 R79563-12
                  a.cabinet__status.cabinet__status--pending(href="#") Ожидание оплаты
                  .cabinet__footer-right
                    a.btn.btn-danger.cabinet__footer-btn(href="#") Отменить заказ
                    a.btn.btn-secondary.cabinet__footer-btn(href="#") Открыть
              #program.tab-pane.fade(role='tabpanel' aria-labelledby='program-tab')
                .row
                  .col-xl-11
                    a.print.mb-30(href="#") Распечатать программу
                    +event({
                      start: ['10', '00'],
                      finish: ['10', '25'],
                      edit: 'false',
                      section: 'Pandemic',
                      hall: 'Зал Амбасадоров',
                      title: 'В Nobel Vision примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
                    }).event--default.event--lg.event--light
                    +event({
                      start: ['10', '00'],
                      finish: ['10', '25'],
                      edit: 'false',
                      section: 'Pandemic',
                      hall: 'Зал Амбасадоров',
                      title: 'В Nobel Vision примут участие лауреаты Нобелевской'
                    }).event--default.event--lg.event--light
                    +event({
                      start: ['10', '00'],
                      finish: ['10', '25'],
                      edit: 'false',
                      section: 'Pandemic',
                      hall: 'Зал Амбасадоров',
                      title: 'В Nobel Vision примут участие лауреаты Нобелевской, Филдсовской'
                    }).event--default.event--lg.event--light
              #chats.tab-pane.fade(role='tabpanel' aria-labelledby='chats-tab')
                .form-check.mb-25
                  input#flexCheckDefault20.form-check-input(type='checkbox' value='')
                  label.form-check-label(for='flexCheckDefault20') Хочу общаться с участниками
                +chat.chat--wide
              #meetings.tab-pane.fade(role='tabpanel' aria-labelledby='meetings-tab')
              #information.tab-pane.fade(role='tabpanel' aria-labelledby='information-tab')
                p.xl.mb-30 Как добраться
                .row
                  .col-xl-10
                    .row.mb-30.mb-xl-75
                      .col-sm-6
                        p.lg.mb-20.mb-xl-30 Муниципальный транспорт:
                        a.cabinet__transport-link(href="./img/transport-1.png", data-fancybox)
                          img(src="./img/transport-1.png", alt)
                      .col-sm-6
                        p.lg.mb-20.mb-xl-30 На личном автомобиле:
                        a.cabinet__transport-link(href="./img/transport-2.png", data-fancybox)
                          img(src="./img/transport-2.png", alt) 
                    p.xl.mb-20 Как получить бейдж
                    p.mb-30.mb-xl-40 Поиск партнеров из высокотехнологичных секторов, получение знаний о зарождающихся рынках и новых моделях развития компаний, диверсификация направлений деятельности, поддержка сотрудничества с инновационной экосистемой и государством из высокотехнологичных секторов, получение знаний о зарождающихся рынках и новых моделях развития компаний, диверсификация направлений деятельности, поддержка сотрудничества с инновационной экосистемой и государством
                    p.xl.mb-30.mb-xl-40 Где разместиться
                    .row
                      .col-md-6
                        +hotel
                      .col-md-6
                        +hotel
                      .col-md-6
                        +hotel
                      .col-md-6
                        +hotel
                      .col-md-6
                        +hotel
                      .col-md-6
                        +hotel
              #transport.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='transport-tab')
                form.form(action="#", method="POST")
                  .row
                    .col-xl-8
                      .form__item.form-group
                        label.form__item-header ФИО водителя *
                        input.input.form-control(type="text", placeholder="Введите", required)
                  .row
                    .col-xl-4
                      .form__item.form-group
                        label.form__item-header Марка автомобиля
                        input.input.form-control(type="text", placeholder="Введите", required)
                  .row
                    .col-xl-4
                      .form__item.form-group
                        label.form__item-header Гос. номер
                        input.input.form-control(type="text", placeholder="_ ___ __ __", required)
                        p.sm-new.mt-15.mb-0 Пример: А777АА82
                  .form-check.mt-15.mb-30
                    input#flexCheckDefault90.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault90') С водителем
                  button.btn.btn-primary.mb-30(type="submit") Сохранить информацию
          .col-lg-3
            .cabinet__aside
              .form-check.mb-25
                input#flexCheckDefault20.form-check-input(type='checkbox' value='')
                label.form-check-label(for='flexCheckDefault20')
                  span Хочу общаться с участниками
                  span.form-check__subheader Ваш профиль будет доступен для просмотра другими пользователями
              p.lg.cabinet__section-header.mb-20 Рекомендованные участники
              .cabinet__participants-list.scrollbar
                +participant({
                  picture: 'participant-1.jpg',
                  name: 'Виктор Павлюченков'
                }).cabinet__participant
                +participant({
                  picture: 'participant-2.jpg',
                  name: 'Константин Константинопольский'
                }).cabinet__participant
                +participant({
                  picture: 'participant-3.jpg',
                  name: 'Азу Цой'
                }).cabinet__participant
                +participant({
                  picture: 'participant-4.jpg',
                  name: 'Ким Карадшьян'
                }).cabinet__participant
                +participant({
                  picture: 'participant-5.jpg',
                  name: 'Андрей Аверин'
                }).cabinet__participant
                +participant({
                  picture: 'participant-1.jpg',
                  name: 'Виктор Павлюченков'
                }).cabinet__participant
                +participant({
                  picture: 'participant-2.jpg',
                  name: 'Константин Константинопольский'
                }).cabinet__participant
                +participant({
                  picture: 'participant-3.jpg',
                  name: 'Азу Цой'
                }).cabinet__participant
                +participant({
                  picture: 'participant-4.jpg',
                  name: 'Ким Карадшьян'
                }).cabinet__participant
                +participant({
                  picture: 'participant-5.jpg',
                  name: 'Андрей Аверин'
                }).cabinet__participant
              p.lg.cabinet__section-header.mt-30.mt-xl-45.mb-15 Рекомендованные сессии
              .cabinet__sessions-list.scrollbar
                +session({
                  title: 'Название сессии в одну или две строки'
                }).cabinet__session
                +session({
                  title: 'Название сессии в одну или две строки'
                }).cabinet__session
                +session({
                  title: 'Название сессии'
                }).cabinet__session
                +session({
                  title: 'Название сессии в одну'
                }).cabinet__session
                +session({
                  title: 'Название сессии в одну или две'
                }).cabinet__session
                +session({
                  title: 'Название сессии в одну или'
                }).cabinet__session
                +session({
                  title: 'Название сессии в одну или две строки'
                }).cabinet__session
                +session({
                  title: 'Название в одну или две строки'
                }).cabinet__session
                +session({
                  title: 'Название сессии в одну строку'
                }).cabinet__session
                +session({
                  title: 'Название сессии в одну или две строки'
                }).cabinet__session
  +footer.footer--short
