extends ../templates/template.pug
block content
  .wrapper
    +header
    .container-fluid.mt-30.mt-xl-45
      .row
        .col-xl-4
          h2.md.mb-30 Контакты
        .col-xl-8
          .row
            .col-sm-6
              +contact({
                photo: 'contact-1.png',
                name: 'Елена Бауэр'
              })
            .col-sm-6
              +contact({
                photo: 'contact-2.png',
                name: 'Максим Сосин'
              })
            .col-sm-6
              +contact({
                photo: 'contact-3.png',
                name: 'Нина Батиашвили'
              })
            .col-sm-6
              +contact({
                photo: 'contact-4.png',
                name: 'Ирина Гаврикова'
              })
            .col-sm-6
              +contact({
                photo: 'contact-5.png',
                name: 'Кристина Сахно'
              })
            .col-sm-6
              +contact({
                photo: 'contact-6.png',
                name: 'Татьяна Куликова'
              })
  +footer
