extends ../templates/template.pug
block content
  .wrapper
    +header
    .container-fluid.mt-30.mt-xl-45
      .row
        .col-xl-4
          h2.md.mb-30 FAQ
        .col-xl-8.pt-0.pt-xl-30.pt-xxl-75
          +faq({
            header: 'Как смотреть трансляцию?'
          })
          +faq({
            header: 'Можно ли вернуть регистрационный взнос после оплаты?'
          })
          +faq({
            header: 'Как изменить персональные данные в личном кабинете?'
          })
          +faq({
            header: 'Не удается восстановить пароль/не приходит логин и пароль/указаны неверные логин и пароль'
          })
  +footer
