extends ../templates/template.pug
block content
  .container.py-50
    h2.mb-20.pb-10.border-bottom Список страниц
    .row
      .col-md-4
        ul.pl-0
          li(style="list-style: none;")
            a.d-block.my-20(href="main.html", style="font-size: 20px;") Main
          li(style="list-style: none;")
            a.d-block.my-20(href="registration.html", style="font-size: 20px;") Registration
          li(style="list-style: none;")
            a.d-block.my-20(href="offline-1.html", style="font-size: 20px;") Offline-1
          li(style="list-style: none;")
            a.d-block.my-20(href="offline-2.html", style="font-size: 20px;") Offline-2
          li(style="list-style: none;")
            a.d-block.my-20(href="online.html", style="font-size: 20px;") Online
          li(style="list-style: none;")
            a.d-block.my-20(href="about.html", style="font-size: 20px;") About
          li(style="list-style: none;")
            a.d-block.my-20(href="contacts.html", style="font-size: 20px;") Contacts
          li(style="list-style: none;")
            a.d-block.my-20(href="cabinet.html", style="font-size: 20px;") Cabinet
          li(style="list-style: none;")
            a.d-block.my-20(href="program.html", style="font-size: 20px;") Program
          li(style="list-style: none;")
            a.d-block.my-20(href="session.html", style="font-size: 20px;") Session
          li(style="list-style: none;")
            a.d-block.my-20(href="speaker.html", style="font-size: 20px;") Speaker
          li(style="list-style: none;")
            a.d-block.my-20(href="press.html", style="font-size: 20px;") Press
          li(style="list-style: none;")
            a.d-block.my-20(href="speakers.html", style="font-size: 20px;") Speakers
          li(style="list-style: none;")
            a.d-block.my-20(href="participants.html", style="font-size: 20px;") Participants
          li(style="list-style: none;")
            a.d-block.my-20(href="partners.html", style="font-size: 20px;") Partners
          li(style="list-style: none;")
            a.d-block.my-20(href="organizer.html", style="font-size: 20px;") Organizer
          li(style="list-style: none;")
            a.d-block.my-20(href="faq.html", style="font-size: 20px;") FAQ
          li(style="list-style: none;")
            a.d-block.my-20(href="news.html", style="font-size: 20px;") News
          li(style="list-style: none;")
            a.d-block.my-20(href="article.html", style="font-size: 20px;") Article
          li(style="list-style: none;")
            a.d-block.my-20(href="networking.html", style="font-size: 20px;") Networking
          li(style="list-style: none;")
            a.d-block.my-20(href="partner-up.html", style="font-size: 20px;") Partner Up
