extends ../templates/template.pug
block content
  .wrapper
    +header
    +front
    .slider.slider--items
      .container-fluid
        .slider__header
          h3.me-30.me-sm-100.pe-lg-35.mb-0 Программа
          .slider__controls
            a.slider__arrow.slider__arrow--prev(href="#")
            a.slider__arrow.slider__arrow--next(href="#")
        .slider__content.slider__content--items
          +item({
            title: 'Pandemic',
            content: 'вирусология, здравоохранение',
            picture: 'item-1.png'
          }).slider__item.bg-secondary
          +item({
            title: 'ESG',
            content: 'устойчивое развитие, экология, зеленая энергетика',
            picture: 'item-2.png'
          }).slider__item.bg-primary
          +item({
            title: 'Quality of life',
            content: 'человекоцентричность, урбанистика, транспорт, ритейл, fintech, цифровые сервисы',
            picture: 'item-3.png'
          }).slider__item.bg-secondary
          +item({
            title: 'Pandemic',
            content: 'вирусология, здравоохранение',
            picture: 'item-1.png'
          }).slider__item.bg-secondary
          +item({
            title: 'ESG',
            content: 'устойчивое развитие, экология, зеленая энергетика',
            picture: 'item-2.png'
          }).slider__item.bg-primary
          +item({
            title: 'Quality of life',
            content: 'человекоцентричность, урбанистика, транспорт, ритейл, fintech, цифровые сервисы',
            picture: 'item-3.png'
          }).slider__item.bg-secondary
    .slider.slider--frontmans
      .container-fluid
        .row
          .col-xl-9.offset-xl-3
            h3.slider__frontmans-header Спикеры
            .slider__content.slider__content--frontmans
              .slider__frontman
                +frontman
              .slider__frontman
                +frontman
              .slider__frontman
                +frontman
              .slider__frontman
                +frontman
              .slider__frontman
                +frontman
              .slider__frontman
                +frontman
              .slider__frontman
                +frontman
              .slider__frontman
                +frontman
            .slider__controls
              a.slider__arrow.slider__arrow--prev(href="#")
              .slider__dots
              a.slider__arrow.slider__arrow--next(href="#")
    .slider.slider--communication
      .container-fluid
        .row
          .col-xl-8.offset-xl-3
            h3.mb-30.mb-xl-100.pb-xl-35 Online networking
            .row
              .col-sm-6.d-flex
                +communication({
                  picture: 'communication-1.png',
                  title: 'Общий <br>чат',
                  btn: 'Начать'
                })
              .col-sm-6.d-flex
                +communication({
                  picture: 'communication-2.png',
                  title: 'Вопрос <br>спикеру',
                  btn: 'Задать'
                })
              .col-sm-6.d-flex
                +communication({
                  picture: 'communication-3.png',
                  title: 'Чаты <br>по интересам',
                  btn: 'Начать'
                })
              .col-sm-6.d-flex
                +communication({
                  picture: 'communication-4.png',
                  title: 'Обсудить <br>сессию',
                  btn: 'Обсудить'
                })
    .slider
      .container-fluid
        h3.mb-30.mb-lg-100 Как это было
        .slider__content.slider__content--histories
          +history({
            picture: 'history-1.jpg',
            logo: 'history-logo-1.svg',
            title: 'Посетите наш виртуальный стенд и узнайте больше об инновациях в Газпромбанке и партнерах'
          }).slider__history
          +history({
            picture: 'history-2.jpg',
            logo: 'history-logo-1.svg',
            title: 'Университеты, институты РАН и научные центры Минобрнауки России представляют свои лучшие проекты'
          }).slider__history.history--reverse
          +history({
            picture: 'history-3.jpg',
            logo: 'history-logo-1.svg',
            title: 'Технопредпринимательство, наука, искусство, образование - на стенде Группы РОСНАНО'
          }).slider__history.history--reverse
          +history({
            picture: 'history-1.jpg',
            logo: 'history-logo-1.svg',
            title: 'Посетите наш виртуальный стенд и узнайте больше об инновациях в Газпромбанке и партнерах'
          }).slider__history
          +history({
            picture: 'history-1.jpg',
            logo: 'history-logo-1.svg',
            title: 'Посетите наш виртуальный стенд и узнайте больше об инновациях в Газпромбанке и партнерах'
          }).slider__history
          +history({
            picture: 'history-2.jpg',
            logo: 'history-logo-1.svg',
            title: 'Университеты, институты РАН и научные центры Минобрнауки России представляют свои лучшие проекты'
          }).slider__history.history--reverse
          +history({
            picture: 'history-3.jpg',
            logo: 'history-logo-1.svg',
            title: 'Технопредпринимательство, наука, искусство, образование - на стенде Группы РОСНАНО'
          }).slider__history.history--reverse
          +history({
            picture: 'history-1.jpg',
            logo: 'history-logo-1.svg',
            title: 'Посетите наш виртуальный стенд и узнайте больше об инновациях в Газпромбанке и партнерах'
          }).slider__history
        .slider__controls.mt-30.mt-lg-50
          a.slider__arrow.slider__arrow--prev(href="#")
          .slider__dots
          a.slider__arrow.slider__arrow--next(href="#")
  +footer({
    partnersNew: true
  })
