extends ../templates/template.pug
block content
  .wrapper
    +header
    .container-fluid.mt-30.mt-xl-45
      .row
        .col-xl-4
          h2.md.mb-30 NETWORKING
        .col-xl-8
          +chat({
            type: 'common'
          }).chat--common.mb-30.mb-xl-55
          .row.mb-xl-40
            .col-sm-6.d-flex
              +communication({
                picture: 'communication-1.png',
                title: 'Общий <br>чат',
                btn: 'Начать'
              })
            .col-sm-6.d-flex
              +communication({
                picture: 'communication-2.png',
                title: 'Вопрос <br>спикеру',
                btn: 'Задать'
              })
            .col-sm-6.d-flex
              +communication({
                picture: 'communication-3.png',
                title: 'Чаты <br>по интересам',
                btn: 'Начать'
              })
            .col-sm-6.d-flex
              +communication({
                picture: 'communication-4.png',
                title: 'Обсудить <br>сессию',
                btn: 'Обсудить'
              })
            .col-sm-6.d-flex
              +communication({
                picture: 'communication-5.png',
                title: 'Программа',
                btn: 'Смотреть'
              })
            .col-sm-6.d-flex
              +communication({
                picture: 'communication-6.png',
                title: 'Личный <br>чат',
                btn: 'Начать'
              })
          .row
            .col-xl-10
              h3.md.mb-25 Terms of Use
              p.lg.text-transform-none.mb-35 Благодарим вас за интерес, проявленный к Форуму «Открытые инновации-2021». <br>Пресс-центр Московского международного форума инновационного развития «Открытые инновации-2020» — это современная площадка для комфортной и эффективной работы представителей средств массовой информации.
              p.st.mb-35 Благодарим вас за интерес, проявленный к Форуму «Открытые инновации-2021». <br>Пресс-центр Московского международного форума инновационного развития «Открытые инновации-2020» — это современная площадка для комфортной и эффективной работы представителей средств массовой информации. Распространение вируса в корне изменило повседневную жизнь людей, пострадала экономика и почти все сферы бизнеса. Такие изменения влекут за собой крупные социальные проблемы. В том числе колоссальные потери рабочей силы и общественного капитала. Многие профессии после стремительных изменений становятся кадровым рудиментом.
              ul
                li После первых шоковых реакций на пандемию весь мир пошел по пути изоляции, какие перспективы открыты для человека?
                li Как индивидуальность становится новой валютой нашего времени?
                li Как вернуться на рынок труда, если был утерян спрос?
                li Какие специальности будут востребованы в будущем?
  +footer
