extends ../templates/template.pug
block content
  .wrapper
    +header
    .container-fluid.mt-30.mt-xl-40
      +breadcrumbs({
        links: ['Пресс-центр', 'Новости и события']
      })
      h2.md.mb-35 Новости
      .row
        .col-xl-4.mb-30
        .col-xl-8
          .row.justify-content-between
            .col-sm-6
              +news({
                picture: 'news-1.jpg',
                title: '2020-й запомнится как год, когда мы остановим волну скептицизма в отношении науки'
              })
            .col-sm-6
              +news({
                picture: 'news-2.jpg',
                title: 'Объявлены лауреаты и номинанты национальной премии «венчурный инвестор»'
              })
            .col-sm-6
              +news({
                picture: 'news-3.jpg',
                title: '2020-й запомнится как год, когда мы остановим волну скептицизма в отношении науки'
              })
            .col-sm-6
              +news({
                picture: 'news-4.jpg',
                title: '2020-й запомнится как год, когда мы остановим волну скептицизма в отношении науки'
              })
            .col-sm-6
              +news({
                picture: 'news-5.jpg',
                title: '2020-й запомнится как год, когда мы остановим волну скептицизма в отношении науки'
              })
            .col-sm-6
              +news({
                picture: 'news-6.jpg',
                title: 'Объявлены лауреаты и номинанты национальной премии «венчурный инвестор»'
              })
            .col-sm-6
              +news({
                picture: 'news-7.jpg',
                title: '2020-й запомнится как год, когда мы остановим волну скептицизма в отношении науки'
              })
            .col-sm-6
              +news({
                picture: 'news-8.jpg',
                title: '2020-й запомнится как год, когда мы остановим волну скептицизма в отношении науки'
              })
          +pagination
  +footer
