extends ../templates/template.pug
block content
  .wrapper.wrapper--white
    +header
    .container-fluid.py-40
      .row
        .col-lg-4
          h2.md.mb-30 Регистрация офлайн <br>
            span.text-secondary шаг 1
        .col-lg-8.col-xl-6.col-xxl-4
          form.form.mt-xl-85(action="#", method="POST")
            .form__item.form-group
              label.form__item-header E-mail
              input.input.form-control(type="text", placeholder="Введите ваш e-mail")
            button.btn.btn-primary.btn-lg.px-xl-65(type="submit") Далее
  +footer.footer--white
