extends ../templates/template.pug
block content
  .wrapper.wrapper--white
    +header
    .container-fluid.py-40
      .row
        .col-xl-4
          h2.md Регистрация офлайн <br>
            span.text-secondary шаг 2
        .col-xl-8
          form.form.mt-xl-30(action="#", method="POST")
            .form__section
              p.lg.mb-20 Личные данные
              .row
                .col-md-4
                  .form__item.form-group
                    label.form__item-header Гражданство
                    +select
              .row
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Город проживания *
                    input.input.form-control(type="text", placeholder="Введите")
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Страна проживания *
                    input.input.form-control(type="text", placeholder="Введите")
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Телефон *
                    input.input.form-control(type="text", placeholder="+7 (___) ___ - __ - __")
              .row
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Фамилия на русском *
                    input.input.form-control(type="text", placeholder="Введите")
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Имя на русском *
                    input.input.form-control(type="text", placeholder="Введите")
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Отчество на русском
                    input.input.form-control(type="text", placeholder="Введите")
              .row
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Фамилия на английском *
                    input.input.form-control(type="text", placeholder="Введите")
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Имя на английском *
                    input.input.form-control(type="text", placeholder="Введите")
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Отчество на английском
                    input.input.form-control(type="text", placeholder="Введите")
              .form__item.form-group
                label.form__item-header Пол
                .form__radio-row
                  .form-check
                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault1')
                      | Мужской
                  .form-check
                    input#flexRadioDefault2.form-check-input(type='radio' name='flexRadioDefault')
                    label.form-check-label(for='flexRadioDefault2')
                      | Женский
            .form__section
              p.lg.mb-25 Паспортные данные
              .row
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Дата рождения
                    input.input.form-control(type="text", placeholder="ДД.ММ.ГГГГ")
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Место рождения
                    input.input.form-control(type="text", placeholder="Введите")
              .row
                .col-md-4.col-xxl-2.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Серия паспорта
                    input.input.form-control(type="text", placeholder="__ __")
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Номер паспорта
                    input.input.form-control(type="text", placeholder="___ ___")
              .row
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Дата выдачи паспорта (для нерезидентов) *
                    input.input.form-control(type="text", placeholder="ДД.ММ.ГГГГ")
            .form__section
              p.lg.mb-25 Карьера
              .row
                .col-md-8.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Компания на русском*.
                    input.input.form-control(type="text", placeholder="Введите")
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header ИНН
                    input.input.form-control(type="text", placeholder="Введите")
              .row
                .col-md-8.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Компания на английском*
                    input.input.form-control(type="text", placeholder="Введите")
              .row
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Название компании для бейджа на английском*
                    input.input.form-control(type="text", placeholder="Введите")
              .row
                .col-md-8.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Должность на русском
                    input.input.form-control(type="text", placeholder="Введите")
              .row
                .col-md-8.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Должность на английском
                    input.input.form-control(type="text", placeholder="Введите")
              .row
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Уровень позиции *
                    +select
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Отрасль *
                    +select
                .col-md-4.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Сфера деятельности *
                    +select
              .form__item.form-group
                label.form__item-header Интересы *
                .form__interests
                  .form-check.form-check--interest
                    input#flexCheckDefault1.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault1')
                      | Банки, финансы, страхование
                  .form-check.form-check--interest
                    input#flexCheckDefault2.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault2')
                      | Безопасность и контрольно-надзорная деятельность
                  .form-check.form-check--interest
                    input#flexCheckDefault3.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault3')
                      | Добыча полезных ископаемых
                  .form-check.form-check--interest
                    input#flexCheckDefault4.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault4')
                      | ЖКХ
                  .form-check.form-check--interest
                    input#flexCheckDefault5.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault5')
                      | Здравоохранение
                  .form-check.form-check--interest
                    input#flexCheckDefault6.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault6')
                      | Информационные технологии
                  .form-check.form-check--interest
                    input#flexCheckDefault7.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault7')
                      | Исследования и инженерно-техническое проектирование
                  .form-check.form-check--interest
                    input#flexCheckDefault8.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault8')
                      | Контент и СМИ
                  .form-check.form-check--interest
                    input#flexCheckDefault9.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault9')
                      | Культура и искусство
                  .form-check.form-check--interest
                    input#flexCheckDefault10.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault10')
                      | Образование
                  .form-check.form-check--interest
                    input#flexCheckDefault11.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault11')
                      | Промышленность
                  .form-check.form-check--interest
                    input#flexCheckDefault12.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault12')
                      | Сельское хозяйство, рыболовство и аквакультура
                  .form-check.form-check--interest
                    input#flexCheckDefault13.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault13')
                      | Спорт, туризм и сфера обслуживания
                  .form-check.form-check--interest
                    input#flexCheckDefault14.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault14')
                      | Строительство и девелопмент
                  .form-check.form-check--interest
                    input#flexCheckDefault15.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault15')
                      | Телекоммуникации и интернет
                  .form-check.form-check--interest
                    input#flexCheckDefault16.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault16')
                      | Торговля
                  .form-check.form-check--interest
                    input#flexCheckDefault17.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault17')
                      | Транспорт, хранение и логистика
                  .form-check.form-check--interest
                    input#flexCheckDefault18.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault18')
                      | Энергетика
                  .form-check.form-check--interest
                    input#flexCheckDefault19.form-check-input(type='checkbox' value='')
                    label.form-check-label(for='flexCheckDefault19')
                      | Прочая деятельность
              .row
                .col-md-8.d-flex.align-items-end
                  .form__item.form-group
                    label.form__item-header Ссылка на сайт компании или профиль в соц сети
                    input.input.form-control(type="text", placeholder="Введите")
              +file
              .form-check.mb-25
                input#flexCheckDefault20.form-check-input(type='checkbox' value='')
                label.form-check-label(for='flexCheckDefault20')
                  | Хочу общаться с участниками
              .form-check.mb-25
                input#flexCheckDefault21.form-check-input(type='checkbox' value='')
                label.form-check-label(for='flexCheckDefault21')
                  | Я даю согласие на обработку моих персональных данных
              button.btn.btn-primary.btn-lg(type="submit") Зарегистрироваться
  +footer.footer--white
