extends ../templates/template.pug
block content
  .wrapper
    +header
    .container-fluid.mt-30.mt-xl-45
      .article
        .row
          .col-lg-1
            +back
          .offset-xl-1.col-xl-6.col-md-7.order-2.order-md-1
            h2.md.mb-35 SKOLKOVO FOUNDATION
            p.lg.mb-25 Фонд «сколково» – некоммерческая организация, созданная в 2010 году и исполняющая функции управляющей компании инновационного центра «сколково».
            .ratio.ratio-16x9.mb-30.mb-xl-55
              iframe(width='100%' height='100%' src='https://www.youtube.com/embed/gJ7_UeLQAVE?controls=0' title='YouTube video player' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
            p.lh-md Цель Фонда - поддержка технологического предпринимательства в России и коммерциализация результатов научно-исследовательской деятельности. Число резидентов «Сколково» уже приблизилось к 2,5 тысячам. Фонд оказывает им комплекс услуг, необходимых для вывода разработок на российский и международный рынки. Статус резидента дает компании налоговые и таможенные льготы. В 2019 году выручка резидентов составила более 100 млрд рублей, а сумма привлеченных ими инвестиций превысила 13 млрд руб. 
            p.lh-md С 2019 года закон позволяет любой организации, занимающейся исследовательской деятельностью на территории России, получить доступ ко всем сервисам и льготам Инновационного центра. На территории Инновационного центра «Сколково» расположен Сколковский институт науки и технологий (Сколтех), входящий в топ-100 молодых университетов мира по версии Nature Indeх. Инфраструктуру Инновационного центра составляют, в частности, крупнейший в Европе Технопарк и исследовательские центры индустриальных партнеров. 
            p.lh-md В 2019 году в Инновационном центре открылись три новых партнерских R&D-центра - компаний «Сибур», ТМК и «Татнефть». На территории «Сколково» в общей сложности уже введено в эксплуатацию более 750 тыс. кв. м. жилых кварталов, исследовательских и образовательных центров. Внебюджетные инвестиции в создание инфраструктуры превысили 100 млрд руб.
            +presentation
          .col-xxl-3.offset-xxl-1.col-lg-4.col-md-5.order-1.order-md-2.mb-30
            .article__info
              .article__logo
                img.article__logo-img(src="./img/partner-logo-1.png", alt)
                p.lg.text-dark.text-center.mb-0 Стратегический партнер
              a.article__info-item.article__info-item--web.article__info-item--primary(href="#") sk.ru
              a.article__info-item.article__info-item--email.article__info-item--primary(href="#") skfoundation@sk.ru
              a.article__info-item.article__info-item--phone.text-serif(href="#") +7 495 956 00 33
            .article__chat
              a.p.lg.article__chat-btn(href="#") Чат партнера
              .article__chat-content
                +chat({
                  type: 'short'
                })
  +footer.footer--short.mt-20
