extends ../templates/template.pug
block content
  .wrapper.wrapper--white
    +header
    .container-fluid.mt-30.mt-xl-40
      h2.md.mb-30.mb-xl-50 Партнеры
      .row
        .col-md-4.mb-30
          a.p.st.text-link.mb-30(href="#") Соорганизаторы
          a.p.st.text-link.mb-30(href="#") Стратегический партнер
          a.p.st.text-link.mb-30(href="#") Генеральный партнер
          a.p.st.text-link.mb-30(href="#") Официальный партнер
          a.p.st.text-link.mb-30(href="#") Специальные партнеры
          a.p.st.text-link.mb-30(href="#") Партнеры
          a.p.st.text-link.mb-30(href="#") Партнер Expo
          a.p.st.text-link.mb-30(href="#") Международные партнеры
          a.p.st.text-link.mb-30(href="#") Партнеры AdVentureLand
          a.p.st.text-link.mb-30(href="#") Генеральные информационные партнеры
          a.p.st.text-link.mb-30(href="#") Официальные информационные партнеры
          a.p.st.text-link.mb-30(href="#") Отраслевые информационные партнеры
          a.p.st.text-link.mb-30(href="#") Коммуникационные партнеры
          a.p.st.text-link.mb-30(href="#") Premium Indoor TV
        .col-md-8
          p.xl.xl-st.fw-bold.text-transform-none.mb-30 Соорганизаторы
          .row.mb-20.mb-lg-40
            .col-6.col-lg-4.col-xl-3.d-flex
              +partner({
                section: 'Соорганизатор',
                logo: 'partner-logo-1.png',
              })
            .col-6.col-lg-4.col-xl-3.d-flex
              +partner({
                section: 'Соорганизатор',
                logo: 'partner-logo-2.png',
              })
          p.xl.xl-st.fw-bold.text-transform-none.mb-30 Стратегические партнеры
          .row.mb-20.mb-lg-40
            .col-6.col-lg-4.col-xl-3.d-flex
              +partner({
                section: 'Стратегический партнер',
                logo: 'partner-logo-1.png',
              })
            .col-6.col-lg-4.col-xl-3.d-flex
              +partner({
                section: 'Стратегический партнер',
                logo: 'partner-logo-2.png',
              })
          p.xl.xl-st.fw-bold.text-transform-none.mb-30 Генеральные партнеры
          .row.mb-20.mb-lg-40
            .col-6.col-lg-4.col-xl-3.d-flex
              +partner({
                section: 'Генеральный партнер',
                logo: 'partner-logo-1.png',
              })
            .col-6.col-lg-4.col-xl-3.d-flex
              +partner({
                section: 'Генеральный партнер',
                logo: 'partner-logo-2.png',
              })
            .col-6.col-lg-4.col-xl-3.d-flex
              +partner({
                section: 'Генеральный партнер',
                logo: 'partner-logo-1.png',
              })
            .col-6.col-lg-4.col-xl-3.d-flex
              +partner({
                section: 'Генеральный партнер',
                logo: 'partner-logo-2.png',
              })
  +footer
