extends ../templates/template.pug
block content
  .wrapper
    +header
    .container-fluid.mt-30.mt-xl-45
      .row
        .col-xl-4
          h2.md.mb-30 PARTNER <br>UP
        .col-xl-8
          .row
            .col-xl-9
              p.mb-30.mb-xl-50 Nobel Vision. Open Innovations 2.0 — самое масштабное событие для стартапов в россии и странах снг. это уникальная площадка для международных встреч с инвесторами, передачи опыта и знаний, презентации проектов и обсуждения технологических трендов. спикеры  — это дерзкие, решительные, передовые технологические суперзвёзды, которые заряжают своими идеями с первых минут, разрывают шаблоны и творят будущее.
          h3.md.mb-30.mb-xl-50 OPPORTUNITIES
          .row.justify-content-center.mb-40.mb-xl-80
            .col-sm-6.d-flex
              +opportunity({
                title: 'ПОЗИЦИОНИРОВАНИЕ КОМПАНИИ',
                dscr: 'в качестве технологического лидера, использующего передовые научные идеи, инновационные решения',
                icon: 'opportunity-1.png'
              })
            .col-sm-6.d-flex
              +opportunity({
                title: 'продвижение бренда',
                dscr: 'благодаря наличию на форуме инфопартнеров – крупнейших федеральных СМИ и рекламной кампании с общим охватом более 150 млн. пользователей ',
                icon: 'opportunity-2.svg'
              })
            .col-sm-6.d-flex
              +opportunity({
                title: 'развитие бизнеса',
                dscr: 'за счет новых клиентов и партнеров из числа представителей компаний, инвесторов и технологических предпринимателей со всего мира',
                icon: 'opportunity-3.svg'
              })
          h2.md.mb-40.mb-xl-80 N 2020 WAS HELD FOR THE FIRST TIME IN AN ONLINE FORMAT
          .row.mb-30
            .col-sm-6.col-lg-4.col-xl-3.mb-50.mb-xl-100
              h2.md.text-secondary.mb-20 18 168
              p.text-white.mb-0 Зарегистрированных участников на сайте
            .col-sm-6.col-lg-4.col-xl-3.mb-50.mb-xl-100
              h2.md.text-secondary.mb-20 4 237
              p.text-white.mb-0 Зарегистрированных участников на сайте
            .col-sm-6.col-lg-4.col-xl-3.mb-50.mb-xl-100
              h2.md.text-secondary.mb-20 358
              p.text-white.mb-0 Зарегистрированных участников на сайте
            .col-sm-6.col-lg-4.col-xl-3.mb-50.mb-xl-100
              h2.md.text-secondary.mb-20 43
              p.text-white.mb-0 Зарегистрированных участников на сайте
            .col-sm-6.col-lg-4.col-xl-3.mb-50.mb-xl-100
              h2.md.text-secondary.mb-20 185 000
              p.text-white.mb-0 Зарегистрированных участников на сайте
            .col-sm-6.col-lg-4.col-xl-3.mb-50.mb-xl-100
              h2.md.text-secondary.mb-20 120 000+
              p.text-white.mb-0 Зарегистрированных участников на сайте
            .col-sm-6.col-lg-4.col-xl-3.mb-50.mb-xl-100
              h2.md.text-secondary.mb-20 5 287 998
              p.text-white.mb-0 Зарегистрированных участников на сайте
            .col-sm-6.col-lg-4.col-xl-3.mb-50.mb-xl-100
              h2.md.text-secondary.mb-20 18 168
              p.text-white.mb-0 Зарегистрированных участников на сайте
          h2.md.mb-45 Contacts
          .row
            .col-md-6
              p.text-white.mb-30.mb-md-0 Если вас заинтересовала возможность стать партнером Международной технологической конференции Nobel Vision. Open Innovations 2.0? вы можете написать нам на электронную почту 
            .col-md-6
              a.link.link--bar(href="#") partners@openinnovation.ru
  +footer
