extends ../templates/template.pug
block content
  .wrapper
    +header
    .container-fluid.mt-30.mt-xl-45
      h2.md.mb-30.mb-xl-50 Пресс-центр
      .row
        .col-lg-4.d-none.d-lg-block
          a.p.sm.anchor(href="#regulations") Регламент СМИ
          a.p.sm.anchor(href="#releases") Пресс-релизы
          a.p.sm.anchor(href="#news") Новости и события
          a.p.sm.anchor(href="#") Фотобанк 2019
          a.p.sm.anchor(href="#partners") Партнеры
        .col-lg-8
          .row
            .col-xl-10
              .mb-50#regulations
                h5.mb-30 Дорогие коллеги!
                p.lg.mb-40 Благодарим вас за интерес, проявленный к Форуму «Открытые инновации-2021». Пресс-центр Московского международного форума инновационного развития «Открытые инновации-2020» — это современная площадка для комфортной и эффективной работы представителей средств массовой информации.
                +document({
                  name: 'Регламент аккредитации представителей СМИ'
                }).document--lg.mb-25
                +document({
                  name: 'Политика упоминаний Форума «Открытые инновации» 2020'
                }).document--lg.mb-40
                p Регистрационную заявку для участия в Форуме могут подать как российские, так и иностранные представители СМИ. Необходимо заполнить регистрационную 
                  a.text-secondary(href="#") форму по ссылке
                  |.
                p Онлайн-трансляция сессий Форума будет доступна в Личном кабинете на сайте «Открытых инноваций» только зарегистрированным участникам.
                p Представителям СМИ, желающим получить доступ к прямым трансляциям, необходимо заблаговременно пройти аккредитацию на 
                  a.text-secondary(href="#") Форум
                  |.
              .mb-50#releases
                h5.mb-30 Пресс-релизы
                a.p.link(href="#") Владимир Путин поприветствовал участников международного форума «Открытые инновации»
                a.p.link(href="#") Поиск решений, которые меняют мир к лучшему: форум «Открытые инновации» начал свою работу
                a.p.link(href="#") Первый день форума «Открытые инновации»: особенности человекоцентричного общества
                a.p.link(href="#") Человек важнее всего: пленарное заседание международного форума «Открытые инновации»
                a.p.link(href="#") Форум «Открытые инновации» собрал более 120 тысяч участников из 134 стран
          .mb-50#news
            h5.mb-30.mb-xl-45 Новости и события
            .gradient
              .gradient__content
                +history({
                  picture: 'history-1.jpg',
                  logo: 'history-logo-1.svg',
                  title: 'Посетите наш виртуальный стенд и узнайте больше об инновациях в Газпромбанке и партнерах',
                  type: 'news'
                }).history--gradient
                +history({
                  picture: 'history-2.jpg',
                  logo: 'history-logo-1.svg',
                  title: 'Университеты, институты РАН и научные центры Минобрнауки России представляют свои лучшие проекты',
                  type: 'news'
                }).history--gradient.history--reverse
                +history({
                  picture: 'history-2.jpg',
                  logo: 'history-logo-1.svg',
                  title: 'Университеты, институты РАН и научные центры Минобрнауки России представляют свои лучшие проекты',
                  type: 'news'
                }).history--gradient.history--reverse
                +history({
                  picture: 'history-2.jpg',
                  logo: 'history-logo-1.svg',
                  title: 'Университеты, институты РАН и научные центры Минобрнауки России представляют свои лучшие проекты',
                  type: 'news'
                }).history--gradient.history--reverse
            a.btn.btn-primary.btn-lg.mt-20.mt-sm-40(href="#") Больше новостей
          .mb-50
            .d-flex.align-items-baseline.flex-column.flex-sm-row.mb-30.mb-xl-45
              h5.mb-10.mb-sm-0.me-sm-50 В Instagram
              a.link.link--instagram(href="#") openinnovations
            +gallery
          .mb-30#partners
            h5.mb-35 Партнеры
            .mb-30
              p.lg.mb-25 Генеральные информационные партнеры
              .row
                .col-sm-6.col-lg-4.col-xl-3
                  +mate({
                    logo: 'mate-1.png'
                  })
                .col-sm-6.col-lg-4.col-xl-3
                  +mate({
                    logo: 'mate-2.png'
                  })
            .mb-30
              p.lg.mb-25 Официальное информационное агентство
              .row
                .col-sm-6.col-lg-4.col-xl-3
                  +mate({
                    logo: 'mate-1.png'
                  })
                .col-sm-6.col-lg-4.col-xl-3
                  +mate({
                    logo: 'mate-2.png'
                  })
            .mb-30
              p.lg.mb-25 Официальная социальная сеть
              .row
                .col-sm-6.col-lg-4.col-xl-3
                  +mate({
                    logo: 'mate-1.png'
                  })
                .col-sm-6.col-lg-4.col-xl-3
                  +mate({
                    logo: 'mate-2.png'
                  })
                .col-sm-6.col-lg-4.col-xl-3
                  +mate({
                    logo: 'mate-1.png'
                  })
                .col-sm-6.col-lg-4.col-xl-3
                  +mate({
                    logo: 'mate-2.png'
                  })
  +footer.footer--short.mt-20
