extends ../templates/template.pug
block content
  .wrapper.wrapper--visible
    +header
    .container-fluid
      .program
        .program__header
          h2.md.mb-0 Программа
          .program__header-right
            +document({
              name: 'Архитектура программы'
            }).program__document
            +document({
              name: 'Полная версия программы'
            }).program__document
        .program__subheader
          +switch({
            btn1: 'Программа',
            btn2: 'Программа партнеров'
          }).program__tabs-controls
          +search
        .program__tabs
          .program__tab.program__tab--active
            .program__wrapper

              //Дата начала и окончания дня указываются в соответствующих data-атрибутах, на их основании временной диапазон дня расписывается с шагом в полчаса
              .program__time-wrapper(data-day-start="10", data-day-end="12")
              .program__content
                .program__col
                  .program__col-header
                    .program__col-header-title Pandemic
                    .program__col-header-place Зал Амбасадоров
                  .program__col-content

                    //У каждого события (.event) нужно указать время начала (data-start) и время конца (data-end) в часах и минутах. На основании этих данных автоматически выстраиваются мероприятия.
                    +event({
                      start: ['10', '00'],
                      finish: ['10', '25'],
                      title: 'Поехали! Официальное открытие'
                    })
                    +event({
                      start: ['10', '25'],
                      finish: ['11', '00'],
                      title: 'Поехали! Официальное открытие'
                    })
                .program__col
                  .program__col-header
                    .program__col-header-title ESG
                    .program__col-header-place Зал Амбасадоров
                  .program__col-content
                    +event({
                      start: ['10', '00'],
                      finish: ['11', '00'],
                      title: 'В Nobel Vision примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
                    })
                .program__col
                  .program__col-header
                    .program__col-header-title Quality of life
                    .program__col-header-place Зал Амбасадоров
                  .program__col-content
                    +event({
                      start: ['10', '00'],
                      finish: ['11', '45'],
                      title: 'В Nobel Vision примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
                    })
                .program__col
                  .program__col-header
                    .program__col-header-title ESG
                    .program__col-header-place Зал Амбасадоров
                  .program__col-content
                    +event({
                      start: ['10', '30'],
                      finish: ['11', '25'],
                      title: 'В Nobel Vision примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
                    })
                    +event({
                      start: ['11', '25'],
                      finish: ['12', '00'],
                      title: 'В Nobel Vision примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
                    })
                .program__col
                  .program__col-header
                    .program__col-header-title Pandemic
                    .program__col-header-place Зал Амбасадоров
                  .program__col-content
                    +event({
                      start: ['10', '00'],
                      finish: ['10', '40'],
                      title: 'В Nobel Vision примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
                    })
                .program__col
                  .program__col-header
                    .program__col-header-title Quality of life
                    .program__col-header-place Зал Амбасадоров
                  .program__col-content
                    +event({
                      start: ['10', '00'],
                      finish: ['10', '35'],
                      title: 'В Nobel Vision примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
                    })
                    +event({
                      start: ['10', '35'],
                      finish: ['11', '10'],
                      title: 'В Nobel Vision примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
                    })
                    +event({
                      start: ['11', '10'],
                      finish: ['11', '50'],
                      title: 'В Nobel Vision примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
                    })
                .program__col
                  .program__col-header
                    .program__col-header-title Pandemic
                    .program__col-header-place Зал Амбасадоров
                  .program__col-content
                    +event({
                      start: ['10', '00'],
                      finish: ['11', '45'],
                      title: 'В Nobel Vision примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
                    })
          .program__tab
        .program__search-results
          +event({
            start: ['10', '00'],
            finish: ['10', '25'],
            title: 'В <span class="text-primary">Nobel Vision</span> примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
          }).event--default
          +event({
            start: ['10', '00'],
            finish: ['10', '25'],
            title: 'В <span class="text-primary">Nobel Vision</span> примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
          }).event--default
          +event({
            start: ['10', '00'],
            finish: ['10', '25'],
            title: 'В <span class="text-primary">Nobel Vision</span> примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
          }).event--default
          +event({
            start: ['10', '00'],
            finish: ['10', '25'],
            title: 'В <span class="text-primary">Nobel Vision</span> примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
          }).event--default
          +event({
            start: ['10', '00'],
            finish: ['10', '25'],
            title: 'В <span class="text-primary">Nobel Vision</span> примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
          }).event--default
          +event({
            start: ['10', '00'],
            finish: ['10', '25'],
            title: 'В <span class="text-primary">Nobel Vision</span> примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
          }).event--default
  +footer.footer--short
