extends ../templates/template.pug
block content
  .wrapper
    +header
    .container-fluid.mt-0.mt-35
      .row
        .col-xl-4
          h2.md.mb-30 Регистрация
        .col-xl-8
          .row
            .col-md-6.d-flex
              +participation({
                title: 'Online',
                list: ['Бесплатное онлайн участие', 'Онлайн трансляция всех сессий', 'Онлайн нетворкинг с участниками и спикерами', 'Чат по интересам']
              }).participation--online
            .col-md-6.d-flex
              +participation({
                bg: 'participation-2.svg',
                title: 'Offline',
                list: ['Билет дает вам доступ к выступлениям по более чем 100 темам', 'Онлайн нетворкинг с участниками и спикерами', 'Чат по интересам'],
                price: true
              }).participation--offline
  +footer
