extends ../templates/template.pug
block content
  .wrapper
    +header
    .container-fluid.mt-30.mt-xl-45
      .row
        .col-lg-2
          +back
        .col-xl-8.col-lg-10
          .article
            .row
              .col-xl-9
                .article__header
                  .article__header-text Pandemic
                  .article__header-hall Зал Амбасадоров 
                  .article__header-text 10:00-10:25
                h2.md.mob-sm.mb-30.mb-xl-50 SPACE ODYSSEY. AWARDING FINALISTS OF SOVCOMBANK CHALLENGE 21. HACKATHONS AS A TALENT SEARCH TOOL
                .article__controls
                  a.btn.btn-primary.btn-sm.me-15.mb-10(href="#") Хочу посмотреть
                  a.btn.btn-secondary.btn-sm.btn--camera.me-15.mb-10(href="#") Live
                  a.btn.btn-outline-primary.btn-sm.me-15.mb-10(href="#") О форуме
                  a.btn.btn-outline-primary.btn-sm.me-15.mb-10(href="#") Регистрация
            .row
              .col-xl-7
                p В рамках сессии пройдет церемония награждение крупнейшего онлайн-хакатона Sovcombank Challenge 21, организаторами которого выступили Фонд «Сколково» и Совкомбанк.
                p Во время панельной дискуссии будут рассмотрены инструменты поиска талантов, кейсы корпораций. Конкуренция за талантливых сотрудников усилилась, поэтому корпорациям необходимо искать новые форматы и практики для привлечения лучших специалистов. В рамках сессии будут рассмотрены такие инструменты, как: хакатоны, чемпионаты, конкурсы и др. Какие практики работают, почему эффективны? Спикеры поделятся реальными кейсами.
            .mt-30
              p.lg.text-transform-none.xl.mb-20.mb-xl-40 Спикеры
            .row
              .col-sm-6.col-md-4.col-xxl-3
                +speaker({
                  photo: 'speaker-1.jpg'
                })
              .col-sm-6.col-md-4.col-xxl-3
                +speaker({
                  photo: 'speaker-2.jpg',
                })
              .col-sm-6.col-md-4.col-xxl-3
                +speaker({
                  photo: 'speaker-3.jpg'
                })
              .col-sm-6.col-md-4.col-xxl-3
                +speaker({
                  photo: 'speaker-4.jpg',
                })
              .col-sm-6.col-md-4.col-xxl-3
                +speaker({
                  photo: 'speaker-5.jpg',
                })
              .col-sm-6.col-md-4.col-xxl-3
                +speaker({
                  photo: 'speaker-6.jpg',
                })
  +footer.footer--short.mt-20