extends ../templates/template.pug
block content
  .wrapper
    +header
    .container-fluid.mt-30.mt-xl-45
      .row
        .col-xl-2
          +back
        .col-xl-8
          .speaker-page
            .speaker-page__picture
              img.speaker-page__picture-img(src="./img/speaker-2.jpg", alt)
            .speaker-page__info
              h2.md.mb-25 ALBERS BORIS
              p.sm.mb-30.mb-xl-50 Директор маркетинговой группы, Банк ВТБ
              p Закончила УрФУ факультет журналистики. Является экспертом по интегрированным маркетинговым коммуникациям с 17-летним опытом работы в сфере PR и маркома. Последние 9 лет работал на руководящих должностях в Департаменте информационных технологий Правительства Москвы, Российской венчурной компании и Газпромнефти. Сейчас возглавляет группу маркетинга по продвижению технологического и HR бренда в ВТБ.
          p.lg.mb-35 Участник сессий
          +event({
            start: ['10', '00'],
            finish: ['10', '25'],
            edit: 'false',
            section: 'Pandemic',
            hall: 'Зал Амбасадоров',
            title: 'В Nobel Vision примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
          }).event--default.event--lg
          +event({
            start: ['10', '00'],
            finish: ['10', '25'],
            edit: 'false',
            title: 'В Nobel Vision примут участие лауреаты Нобелевской, Филдсовской премий, премии Вольфа и других'
          }).event--default.event--lg
  +footer.footer--short.mt-20
