extends ../templates/template.pug
block content
  .wrapper
    +header
    .container-fluid.mt-30.mt-xl-45
      .row
        .col-xl-4
          h2.md.mb-30 Speakers
        .col-xl-8.pt-40.pt-85
          form.form.form--dark(action="#", method="post")
            .row
              .col-xl-9
                .form__item.form-group
                  label.form__item-header ФИО / компания
                  input.input.form-control(type="text", placeholder="Введите")
              .col-xl-3
                .form__item.form-group
                  label.form__item-header Формат участия
                  +select
            .form__speakers-footer
              a.form__reset(href="#") Сбросить фильтр
              .form__speakers-comment Наведите на фото участника, чтобы начать с ним чат или назначить встречу
          .row
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-1.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-2.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-3.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-4.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-5.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-6.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-1.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-2.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-3.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-4.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-5.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-6.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-1.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-2.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-3.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-4.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-5.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-6.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-1.jpg',
                country: true
              })
            .col-sm-6.col-md-4.col-xxl-3
              +speaker({
                photo: 'speaker-2.jpg',
                country: true
              })
          +pagination
  +footer
