.event {
  position: absolute;
  padding: 16px;
  color: #fff;
  background: #202020;
  border-radius: 4px;

  @include media-breakpoint-down(xxl) {
    padding: 10px;
  }

  @include media-breakpoint-down(lg) {
    position: static;
    margin-bottom: 10px;
    padding: 16px;
  }

  &__header {
    margin-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__header-left {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  &__time {
    font-family: $font-family-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    color: #fff;
  }

  &__section {
    margin: 0 18px;
    font-family: $font-family-serif;
    font-size: 16px;
    line-height: 1.31;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(#fff, .5);
  }

  &__hall {
    font-size: 12px;
    line-height: 1.3;
    color: #fff;
  }

  &__header-right {
    margin-left: 10px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  &__edit {
    margin-right: 12px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/event-edit.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__star {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../img/event-star.svg) no-repeat center;
    background-size: contain;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &__content {
  }

  &__title {
    display: block;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #fff;

    @include transition;

    @include media-breakpoint-down(xxl) {
      font-size: 12px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 14px;
    }
  }

  &--default {
    position: static;
    margin-bottom: 16px;
    padding-bottom: 20px;
    height: auto !important;
  }

  &--lg {

    .event__title {
      font-size: 20px;
      line-height: 1.15;
    }
  }

  &--light {
    background: #ececec;

    .event__time,
    .event__section,
    .event__hall,
    .event__title {
      color: $dark;
    }

    .event__title {

      &:hover {
        opacity: .8;
      }
    }

    .event__star {
      background: url(../img/star-blue.svg) no-repeat center;
      background-size: contain;
    }
  }
}
