mixin event(data)
  .event(data-sh=data.start[0], data-sm=data.start[1], data-fh=data.finish[0], data-fm=data.finish[1])&attributes(attributes)
    .event__header
      .event__header-left
        .event__time
          span= data.start[0]
          |:
          span= data.start[1]
          |-
          span= data.finish[0]
          |:
          span= data.finish[1]
        if data && data.section
          .event__section= data.section
        if data && data.hall
          .event__hall= data.hall
      .event__header-right
        if data && data.edit == 'false'
        else
          a.event__edit(href="#")
        a.event__star(href="#")
    .event__content
      a.event__title(href="#")!= data.title
