.participation {
  position: relative;
  padding: scaleVW(35, 1920) scaleVW(35, 1920) scaleVW(45, 1920);
  display: flex;
  width: 100%;
  background: #202020;
  border-radius: 4px;

  @include media-breakpoint-down(xl) {
    padding: 20px;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 32px;
  }

  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';

    @include transition;
  }

  &__content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
  }

  &__list {
    margin-top: scaleVW(40, 1920);

    @include media-breakpoint-down(xl) {
      margin-top: 30px;
    }
  }

  &__list-item {
  }

  &__footer {
    margin-top: scaleVW(40, 1920);
    display: flex;
    align-items: flex-end;

    @include media-breakpoint-down(xl) {
      margin-top: 30px;
    }
  }

  &__prices-wrapper {
    margin-left: scaleVW(64, 1920);
    flex-grow: 1;

    @include media-breakpoint-down(xl) {
      margin-left: 30px;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & + & {
      margin-top: scaleVW(20, 1920);

      @include media-breakpoint-down(xl) {
        margin-top: 10px;
      }
    }
  }

  &__price-header {
    font-size: scaleVW(14, 1920);
    line-height: 1.14;

    @include media-breakpoint-down(xxl) {
      font-size: 12px;
    }
  }

  &__price-content {
    margin-left: 10px;
    font-size: scaleVW(20, 1920);
    line-height: .825;
    font-weight: 300;
    white-space: nowrap;
    color: $primary;

    @include media-breakpoint-down(xl) {
      font-size: 16px;
    }
  }

  &--online {

    &:before {
      z-index: 1;
      background: url(../img/participation-1.png) no-repeat bottom right;
    }

    &:after {
      z-index: 2;
      opacity: 0;
      background: url(../img/participation-1-color.png) no-repeat bottom right;
    }

    &:hover {

      &:before {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }
    }
  }

  &--offline {

    &:before {
      opacity: .3;
      background: url(../img/participation-2.svg) no-repeat top right;
    }

    &:after {
      z-index: 2;
      opacity: 0;
      background: url(../img/participation-2-color.svg) no-repeat bottom right;
    }

    &:hover {

      &:before {
        opacity: 0;
      }

      &:after {
        opacity: 1;
      }
    }
  }
}
