mixin participation(data)
  .participation&attributes(attributes)
    .participation__content
      .participation__top
        h3.md= data.title
        ul.participation__list
          each item in data.list
            li.participation__list-item= item
      .participation__footer
        a.btn.btn-primary.btn-lg(href="#") Выбрать
        if data && data.price
          .participation__prices-wrapper
            .participation__price
              .participation__price-header Стоимость участия:
              .participation__price-content 30 000 P
            .participation__price
              .participation__price-header Для резидентов Сколково:
              .participation__price-content 15 000 P
            .participation__price
              .participation__price-header Для студентов:
              .participation__price-content 3 000 P
