mixin hotel(data)
  a.hotel(href="#")&attributes(attributes)
    .hotel__stars-wrapper
      .hotel__star.hotel__star--active
      .hotel__star.hotel__star--active
      .hotel__star.hotel__star--active
      .hotel__star.hotel__star--active
      .hotel__star.hotel__star--active
    p.hotel__title.mb-5 Park Inn by Radisson Одинцово
    .hotel__address
      .hotel__address-item Одинцово
      .hotel__address-item 6 км до Сколково
    p.sm.text-secondary.mb-0 Улица Неделина 8, Одинцово
