.hotel {
  margin-bottom: scaleVW(32, 1920);
  padding: 16px;
  display: block;
  text-decoration: none;
  color: $dark;
  background: #ececec;
  border-radius: 4px;

  @include transition;

  &:hover {
    opacity: .8;
    color: $dark;
  }

  @include media-breakpoint-down(xl) {
    margin-bottom: 20px;
  }

  &__stars-wrapper {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }

  &__star {
    margin-right: 4px;
    width: 21px;
    height: 20px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      background: url(../img/star-filled.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__title {
    color: $dark;
  }

  &__address {
    margin-bottom: 13px;
    display: flex;
    align-items: baseline;
  }

  &__address-item {

    & + & {

      &:before {
        margin: 0 10px;
        content: '•';
      }
    }
  }
}
