mixin front(data)
  .front&attributes(attributes)
    .container-fluid
      .row
        .col-xl-3
          h4.mb-30.mb-lg-45 9 декабря 2021
          h3.mb-30 Технопарк Сколково
        .col-xl-9
          .front__content
            .front__content-top
              .front__title 
                .front__title-top ( NOBEL 
                .front__title-bottom-wrapper
                  .front__title-bottom VISION )
                  a.front__title-logo(href="#")
                    img.front__title-logo-img(src="./img/sk-logo.svg", alt)
            .front__content-bottom
              h2.mb-25 Open <br> Innovations 2.0
              h2.fst-italic.text-primary Discovering <br>Nexttech
