.front {
  position: relative;
  margin-top: scaleVW(55, 1920);
  margin-bottom: scaleVW(85, 1920);

  @include media-breakpoint-down(xl) {
    margin-top: 55px;
    margin-bottom: 85px;
  }

  &:after {
    position: absolute;
    z-index: -1;
    top: scaleVW(25, 1920);
    right: scaleVW(-250, 1920);
    display: block;
    width: scaleVW(977, 1920);
    height: scaleVW(891, 1920);
    content: '';
    background: url(../img/front.png) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(xl) {
      right: 0;
      width: 500px;
      height: 400px;
    }

    @include media-breakpoint-down(md) {
      right: -200px;
    }

    @include media-breakpoint-down(sm) {
      opacity: .6;
    }
  }

  &__content {
  }

  &__content-top {

    @include media-breakpoint-down(sm) {
      margin-bottom: 50px;
    }
  }

  &__title {
    margin-bottom: scaleVW(55, 1920);
    font-family: $font-family-serif;
    font-size: scaleVW(150, 1920);
    line-height: .8;
    white-space: nowrap;

    @include media-breakpoint-down(lg) {
      font-size: 100px;
    }

    @include media-breakpoint-down(md) {
      font-size: 70px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 50px;
    }
  }

  &__title-top {
  }

  &__title-bottom-wrapper {
    padding-left: scaleVW(184, 1920);
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      padding-left: 50px;
    }
  }

  &__title-bottom {
  }

  &__title-logo {
    margin-top: scaleVW(-70, 1920);
    margin-left: scaleVW(10, 1920);
    display: flex;
    align-items: flex-start;

    @include media-breakpoint-down(md) {
      margin-top: -20px;
      max-width: 30px;
    }
  }

  &__title-logo-img {
  }

  &__content-bottom {
    padding-left: scaleVW(210, 1920);

    @include media-breakpoint-down(xl) {
      padding-left: 0;
    }
  }
}
