.file {
  position: relative;
  margin-bottom: 43px;
  padding: 17px;
  display: flex;
  width: 180px;
  height: 180px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f0f0f0;
  border-radius: 4px;

  @include transition;

  &:hover {
    background: darken(#f0f0f0, 5%);
  }

  &:before {
    margin-bottom: 20px;
    display: block;
    width: 27px;
    height: 27px;
    content: '';
    background: url(../img/plus.svg) no-repeat center;
    background-size: contain;
  }

  &:after {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    content: 'Выбрать фото профиля';
    color: $dark;
  }

  input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
