.feature {
  margin-bottom: 32px;
  padding: scaleVW(62, 1920) scaleVW(45, 1920) scaleVW(62, 1920) scaleVW(40, 1920);
  display: flex;
  width: 100%;
  align-items: center;
  background: #202020;
  border-radius: 4px;

  @include media-breakpoint-down(xl) {
    margin-bottom: 20px;
    padding: 30px;
  }

  @include media-breakpoint-down(sm) {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  &__number {
    min-width: scaleVW(93, 1920);
    font-family: $font-family-serif;
    font-size: scaleVW(113, 1920);
    line-height: .825;
    font-weight: 300;
    color: $secondary;

    @include media-breakpoint-down(xl) {
      min-width: 80px;
      font-size: 80px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      margin-bottom: 20px;
      min-width: 0;
      font-size: 60px;
    }
  }
}
