.cabinet {
  padding: 40px 0 50px;

  &__user {
    display: flex;

    @include media-breakpoint-down(lg) {
      margin-top: 30px;
    }
  }

  &__user-picture {
    position: relative;
    margin-right: scaleVW(30, 1920);
    width: scaleVW(152, 1920);
    height: scaleVW(152, 1920);
    flex-shrink: 0;
    border-radius: 4px;

    @include media-breakpoint-down(xl) {
      margin-right: 20px;
      width: 100px;
      height: 100px;
    }
  }

  &__user-picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }

  &__user-content {
  }

  &__user-occupation {
    margin-bottom: 19px;
    opacity: .5;
    font-size: 16px;
    line-height: 19px;
    color: $dark;
  }

  &__link {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: $secondary;
  }

  &__payment {
    display: flex;
    align-items: flex-start;

    @include media-breakpoint-down(xl) {
      margin-bottom: 30px;
    }
  }

  &__payment-picture {
    position: relative;
    margin-right: scaleVW(24, 1920);
    width: scaleVW(64, 1920);
    height: scaleVW(64, 1920);
    flex-shrink: 0;
    border-radius: 4px;

    @include media-breakpoint-down(xl) {
      margin-right: 20px;
      width: 64px;
      height: 64px;
    }
  }

  &__payment-picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    border-radius: 4px;
  }

  &__payment-content {
  }

  &__payment-type {
    margin: 14px 0 6px;
    display: flex;
    align-items: baseline;

    @include media-breakpoint-down(sm) {
      margin: 10px 0;
    }
  }

  &__payment-status {
    margin-left: 10px;
    padding: 0 3.8px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: $dark;
    background: $primary;
    border-radius: 2px;
  }

  &__promo {
    position: relative;
  }

  &__promo-input {
    padding-right: scaleVW(56, 1920);

    @include media-breakpoint-down(xxl) {
      font-size: 14px;
    }
  }

  &__promo-btn {
    position: absolute;
    right: 8px;
    bottom: 8px;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: $secondary;
    border: 1px solid $secondary;
    border-radius: 4px;

    &:hover {
      color: #fff;
      background: $secondary;
    }
  }

  &__discount {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }

  &__payment-price-wrapper {
    display: flex;
    align-items: center;
    background: rgba($secondary, .1);
    border-radius: 4px;
  }

  &__payment-price-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  &__payment-participants {
    margin: 32px 0;
    padding: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba($dark, .1);
    border-bottom: 1px solid rgba($dark, .1);

    @include media-breakpoint-down(sm) {
      padding: 20px 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__payment-participants-content {
    max-width: 60%;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      max-width: none;
    }
  }

  &__overall {
    margin-bottom: scaleVW(40, 1920);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin-bottom: 30px;
    }
  }

  &__overall-content {
    margin-right: scaleVW(36, 1920);
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin-right: 30px;
    }
  }

  &__footer {
    padding: scaleVW(32, 1920) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba($dark, .1);
    border-bottom: 1px solid rgba($dark, .1);

    @include media-breakpoint-down(md) {
      padding: 20px 0;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__status {
    padding: 5.5px 14.9px;
    text-decoration: none;
    color: #fff;
    background: $primary;
    border-radius: 2px;

    @include transition;

    &:hover {
      opacity: .8;
      color: #fff;
    }

    @include media-breakpoint-down(sm) {
      margin: 20px 0;
    }

    &--pending {
      background: #6e3fa3;
    }
  }

  &__footer-right {
  }

  &__footer-btn {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__section-header {

    @include media-breakpoint-down(xl) {
      font-size: 18px !important;
      line-height: 1.1 !important;
    }
  }

  &__aside {

    @include media-breakpoint-down(xl) {
      padding-top: 30px;
      border-top: 1px solid rgba($dark, .1);
    }
  }

  &__transport-link {
    display: block;

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
  }

  &__participants-list {
    position: relative;
    overflow: auto;
    height: 400px;

    @include media-breakpoint-down(xl) {
      height: 305px;
    }
  }

  &__participant {
    height: calc(20% - 16px);
  }

  &__sessions-list {
    position: relative;
    overflow: auto;
    height: 248px;

    @include media-breakpoint-down(xl) {
      height: 210px;
    }
  }

  &__session {
    height: calc(50% - 15px);
  }
}
