.person {
  padding: 12.5px 29px 12.5px 16px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;

  @include transition;

  &:hover {
    background: rgba($primary, .15);
  }

  &__picture {
    position: relative;
    margin-right: 12px;
    display: flex;
    width: 43px;
    height: 43px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
  }

  &__picture-logo-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: $primary;
    border-radius: 5px;
  }

  &__picture-logo {
  }

  &__wrapper {
    flex-grow: 1;
  }

  &__wrapper-header {
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__header-left {
    display: flex;
    align-items: center;
  }

  &__name {
    font-size: 16px;
    line-height: 19px;
    color: #fff;

    @include media-breakpoint-down(xxl) {
      font-size: 14px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__message-picture {
    position: relative;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border-radius: 2px;
  }

  &__message-picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    object-fit: cover;
    object-position: top center;
  }

  &__time {
    margin-left: 8px;
    flex-shrink: 0;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: .26em;
    color: #fff;
  }

  &__message {
    overflow: hidden;
    width: 132px;
    font-size: 12px;
    line-height: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #97a8b9;
  }

  &--active {
    background: $primary;

    &:hover {
      background: $primary;
    }

    .person__name {
      color: #fff;
    }

    .person__time {
      color: #fff;
    }

    .person__message {
      color: rgba(#fff, .7);
    }
  }
}
