mixin person(data)
  a.person(href="#")&attributes(attributes)
    .person__picture
        img.person__picture-img(src="./img/" + data.picture, alt)
    .person__wrapper
      .person__wrapper-header
        .person__header-left
          .person__name= data.title
        .person__time 15:50
      .person__content
        .person__message Последнее сообщение Последнее сообщение
