.menu {
  margin-bottom: scaleVW(-15, 1920);

  @include media-breakpoint-down(lg) {
    margin-bottom: 0;
  }

  &__btn {
    display: none;

    @include media-breakpoint-down(lg) {
      margin-top: -2px;
      display: block;
      width: 40px;
      height: 40px;
      background: url(../img/menu.svg) no-repeat center;
      background-size: 70%;
    }

    &--active {

      @include media-breakpoint-down(lg) {
        position: relative;
        z-index: 11;
        background: url(../img/close.svg) no-repeat center;
        background-size: 70%;
      }
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    @include media-breakpoint-down(lg) {
      padding-bottom: 40px;
      display: none;
      flex-wrap: nowrap;
      text-align: center;
    }

    &--active {

      @include media-breakpoint-down(lg) {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        padding-top: 100px;
        display: flex;
        overflow: auto;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        background: #000 url(../img/logo.svg) no-repeat 16px 16px;
        background-size: 59px;
      }

      @include media-breakpoint-down(sm) {
        padding-top: 60px;
        background: #000 url(../img/logo.svg) no-repeat 10px 16px;
        background-size: 40px;
      }
    }
  }

  &__item {
    position: relative;
    margin-right: scaleVW(27, 1920);
    margin-bottom: scaleVW(15, 1920);

    @include media-breakpoint-down(xl) {
      margin-right: 15px;
      margin-bottom: 10px;
    }

    @include media-breakpoint-down(lg) {
      margin-right: 0;
      margin-bottom: 40px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-right: 0;

      @include media-breakpoint-down(lg) {
        margin-bottom: 0;
      }
    }

    &:hover,
    &--submenu {

      .menu__link--submenu:after {

        @include media-breakpoint-up(lg) {
          transform: rotate(180deg);
        }
      }

      .menu__submenu {
        opacity: 1;
        pointer-events: all;
      }
    }

    &--submenu {

      .menu__link--submenu:after {

        @include media-breakpoint-down(lg) {
          transform: rotate(180deg);
        }
      }

      .menu__submenu {

        @include media-breakpoint-down(lg) {
          display: block;
        }
      }
    }
  }

  &__link {
    font-size: scaleVW(18, 1920);
    line-height: 1.14;
    text-decoration: none;
    color: #fff;

    @include transition;

    &:hover {
      color: $primary;
    }

    @include media-breakpoint-down(xl) {
      font-size: 14px;
    }

    @include media-breakpoint-down(lg) {
      font-size: 24px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 18px;
    }

    &--submenu {
      position: relative;
      z-index: 2;
      display: inline-flex;
      align-items: center;

      &:after {
        margin-left: 8px;
        display: block;
        width: 13px;
        height: 7px;
        flex-shrink: 0;
        content: '';
        background: url(../img/arrow-white.svg) no-repeat center;
        background-size: contain;
      }
    }
  }

  &__submenu {
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
    margin-left: -10px;
    padding: 44px 10px 0;
    opacity: 0;
    pointer-events: none;
    background: $secondary;
    border-radius: 8px;

    @include media-breakpoint-down(lg) {
      position: static;
      margin-top: 20px;
      padding: 10px;
      display: none;
      opacity: 1;
      pointer-events: all;
      background: transparent;
    }
  }

  &__submenu-link {
    margin-bottom: 10px;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: #fff;

    @include transition;

    @include media-breakpoint-down(lg) {
      margin-bottom: 20px;
    }

    &:last-child {

      @include media-breakpoint-down(lg) {
        margin-bottom: 0;
      }
    }
  }

  &--main {

    @include media-breakpoint-down(lg) {
      margin-left: auto;
    }
  }
}
