mixin menu(data)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      each link in data.links
        if link == 'Пресс-центр'
          .menu__item
            a.menu__link.menu__link--submenu(href="#")= link
            .menu__submenu
              a.menu__submenu-link(href="#") Регламент СМИ
              a.menu__submenu-link(href="#") Пресс-релизы
              a.menu__submenu-link(href="#") Новости и события
              a.menu__submenu-link(href="#") Фотобанк 2019
              a.menu__submenu-link(href="#") Партнеры
        else
          .menu__item
            a.menu__link(href="#")= link
