.communication {
  position: relative;
  margin-bottom: scaleVW(32, 1920);
  padding: scaleVW(50, 1920) scaleVW(40, 1920) scaleVW(50, 1920) scaleVW(373, 1920);
  padding-left: 64.8%;
  overflow: hidden;
  width: 100%;
  //  min-height: 200px;
  background: #202020;
  border-radius: 4px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 32px;
    padding-left: 60%;
  }

  @include media-breakpoint-down(md) {
    padding-left: 50%;
    min-height: 120px;
  }

  &__title {
    text-decoration: none;
    color: #fff;

    @include transition;

    br {

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;

    //    @include media-breakpoint-down(xxl) {
    //      left: -60px;
    //    }
    //
    //    @media (max-width: 1440px) {
    //      left: -110px;
    //    }

    @include media-breakpoint-down(md) {
      left: -80px;
    }

    @include media-breakpoint-down(sm) {
      left: -40px;
    }
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__btn {
    margin-top: scaleVW(15, 1920);
    display: none;
    align-items: center;
    text-decoration: none;

    @include transition;

    &:after {
      margin-left: scaleVW(18, 1920);
      display: block;
      width: scaleVW(32, 1920);
      height: scaleVW(6, 1920);
      content: '';
      background: url(../img/communication-arrow.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(xl) {
        margin-left: 18px;
        width: 32px;
        height: 6px;
      }
    }
  }
}
