mixin communication(data)
  .communication&attributes(attributes)
    img.communication__picture(src="./img/" + data.picture, alt)
    .communication__content
      a.p.lg.communication__title.mb-10(href="#")!= data.title
      a.communication__btn(href="#")= data.btn
