.wrapper {
  overflow: hidden;
  flex-grow: 1;

  &--white {
    color: #000;
    background: #fff;

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
      color: #000;
    }

    .header {
      background: #000;
    }

    .footer {
      background: #000;
    }
  }

  &--visible {
    overflow: visible;
  }
}
