mixin header(data)
  .header&attributes(attributes)
    .container-fluid
      .header__wrapper
        .header__left
          +logo.header__logo
          +menu({
            links: ['Live', 'Программа', 'Спикеры', 'Участники', 'Стоимость участия', 'Нетворкинг', 'Mentor hours', 'Партнеры', 'Инвесторские питчи', 'Пресс-центр', 'Самое интересное', 'Контакты', 'Важная информация / как добраться']
          }).header__menu
        .header__right
          a.btn.btn-outline-primary.header__btn.header__language(href="#") En
          if data && data.type == 'user'
            .header__user
              a.header__user-picture(href="#")
                img.header__user-picture-img(src="./img/header-user.png", alt)
              a.p.sm.text-white.header__name.mb-0(href="#") Ольга М.
              a.btn.btn-primary.header__btn.header__btn--icon.header__btn--icon-partner(href="#") Стать партнером
              a.btn.btn-primary.header__btn.header__btn--icon.header__btn--icon-logout(href="#") Выйти
          else
            a.btn.btn-primary.header__btn(href="#") Регистрация
            a.btn.btn-primary.header__btn.header__btn--icon.header__btn--icon-login(href="#") Войти
            a.btn.btn-primary.header__btn.header__btn--icon.header__btn--icon-partner(href="#") Стать партнером
