.header {
  padding: scaleVW(46, 1920) 0;

  @include media-breakpoint-down(xl) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media-breakpoint-down(xl) {
      align-items: center;
    }
  }

  &__left {
    display: flex;
    max-width: 70%;
    align-items: center;

    @include media-breakpoint-down(xl) {
      max-width: none;
    }
  }

  &__logo {
    margin-right: scaleVW(60, 1920);
    max-width: scaleVW(59, 1920);
    flex-shrink: 0;

    @include media-breakpoint-down(xl) {
      margin-right: 40px;
      max-width: 59px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 15px;
      max-width: 40px;
    }
  }

  &__menu {
  }

  &__right {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  &__user {
    margin-left: scaleVW(16, 1920);
    display: flex;
    align-items: center;
    text-decoration: none;

    @include media-breakpoint-down(xl) {
      margin-left: 12px;
    }
  }

  &__user-picture {
    position: relative;
    margin-right: scaleVW(18, 1920);
    width: scaleVW(48, 1920);
    height: scaleVW(48, 1920);
    border-radius: 4px;

    @include media-breakpoint-down(xl) {
      margin-right: 12px;
      width: 32px;
      height: 32px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      width: 32px;
      height: 32px;
    }
  }

  &__user-picture-img {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: scaleVW(18, 1920);
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    border-radius: 4px;

    @include media-breakpoint-down(xl) {
      margin-right: 12px;
    }

    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }
  }

  &__btn {
    margin-left: scaleVW(16, 1920);

    @include media-breakpoint-down(xl) {
      margin-left: 16px;
      padding: 15.5px 10px;
    }

    @include media-breakpoint-down(sm) {
      margin-left: 10px;
      padding: 7.5px 10px;
    }

    &--icon {

      @include media-breakpoint-down(xl) {
        margin-left: 16px;
        width: 48px;
        height: 48px;
        font-size: 0;
        border: 1px solid $primary;
        border-radius: 4px;
      }

      @include media-breakpoint-down(sm) {
        margin-left: 10px;
        width: 32px;
        height: 32px;
      }
    }

    &--icon-partner {

      @include media-breakpoint-down(xl) {
        background: transparent url(../img/icon-partner.svg) no-repeat center !important;
      }

      @include media-breakpoint-down(sm) {
        background-size: 16px 16px !important;
      }
    }

    &--icon-logout {

      @include media-breakpoint-down(xl) {
        background: transparent url(../img/icon-logout.svg) no-repeat center !important;
      }

      @include media-breakpoint-down(sm) {
        background-size: 16px 16px !important;
      }
    }

    &--icon-login {

      @include media-breakpoint-down(xl) {
        background: transparent url(../img/icon-login.png) no-repeat center !important;
        background-size: 24px 24px !important;
      }

      @include media-breakpoint-down(sm) {
        background-size: 16px 16px !important;
      }
    }
  }

  &__language {
    padding: scaleVW(10, 1920);
    display: inline-flex;
    width: scaleVW(48, 1920);
    height: scaleVW(48, 1920);
    justify-content: center;
    align-items: center;

    @include media-breakpoint-down(xl) {
      padding: 5px;
      width: 48px;
      height: 48px;
    }

    @include media-breakpoint-down(sm) {
      width: 32px;
      height: 32px;
    }
  }

  &__name {
    text-decoration: none;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
