.form {

  &__section {
    margin-bottom: 16px;
  }

  &__item {
    margin-bottom: 24px;
    width: 100%;
  }

  &__item-header {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 1.19;
    color: $dark;
  }

  &__radio-row {
    margin-top: 18px;
    margin-bottom: 55px;
    display: flex;
    align-items: center;

    .form-check {
      margin-right: 40px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__interests {
    margin-top: 18px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  &__authorization {
    margin-bottom: 24px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__authorization-content {
    margin-right: 60px;
    max-width: 245px;
  }

  &__authorization-subheader {
    opacity: .5;
    font-size: 14px;
    line-height: 1.14;
    color: $dark;
  }

  &__authorization-socials {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }

  &__authorization-btn {
    margin-right: 24px;
    width: 40px;
    height: 40px;
    border-radius: 4px;

    @include transition;

    &:hover {
      opacity: .8;
    }

    &:last-child {
      margin-right: 0;
    }

    &--fb {
      background: #ececec url(../img/fb.svg) no-repeat center;
    }

    &--vk {
      background: #ececec url(../img/vk.svg) no-repeat center;
    }
  }

  &__speakers-footer {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__reset {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: $primary;

    @include transition;

    &:hover {
      opacity: .8;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }

    &:before {
      margin-right: 16px;
      display: block;
      width: 8px;
      height: 8px;
      flex-shrink: 0;
      content: '';
      background: url(../img/close-yellow.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__speakers-comment {
    font-size: 14px;
    line-height: 16px;
  }

  &--dark {

    .form__item-header {
      margin-bottom: 10px;
      color: #fff;
    }

    .input {
      padding: 0 16px;
      min-height: 40px;
      font-size: 14px;
      line-height: 16px;
      color: #fff;
      background: #202020;

      &:focus {
        color: #fff;
        background: #202020;
      }
    }

    .select2-container .select2-selection--single {
      height: 40px;
      background: #202020;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
      height: 40px;
      font-size: 14px;
      color: #fff;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
      background: url(../img/select-arrow-yellow.svg) no-repeat center;
    }

    .select2-dropdown {
      background: #202020 !important;
      border-color: #202020;
    }
  }
}
