.back {
  margin-bottom: 20px;

  &__arrow {
    display: block;
    width: scaleVW(40, 1920);
    height: scaleVW(32, 1920);
    background: url(../img/arrow-back.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(xl) {
      width: 20px;
      height: 16px;
    }
  }
}
